In [1]:
import pandas as pd
import numpy as np
import sqlparse
import re
from SQLParser import *

In [2]:
raw = '''
SELECT DISTINCT t.EQ, t.CURR, t.INN, t3.code as REPOSITARY_ID,
CASE WHEN t1.SHORT_NAME is NULL THEN
CASE WHEN t2.SHORT_NAME is NULL THEN 
CASE WHEN t4.SHORT_NAME is NULL THEN 'NOT FOUND'
ELSE t4.SHORT_NAME END 
ELSE t2.SHORT_NAME END 
ELSE t1.SHORT_NAME END as SHORT_NAME,
CASE WHEN t1.NAME is NULL THEN
CASE WHEN t2.NAME is NULL THEN 
CASE WHEN t4.FULL_NAME is NULL THEN 'NOT FOUND'
ELSE t4.FULL_NAME END
ELSE t2.NAME END
ELSE t1.NAME END as NAME, 
CASE WHEN t1.EXCHANGE_ID = 'MICX' THEN 1 
WHEN t1.EXCHANGE_ID = 'PICX' THEN 2
WHEN t1.EXCHANGE_ID = 'NICX' THEN 3
ELSE 9 END as number_ 
FROM uniq_inn t LEFT JOIN zp_dm_vdrf.SV_EQ_FIRMS t1 on t1.FIRM_ID = t.EQ 
LEFT JOIN  zp_dm_vdrf.SV_CURR_FIRMS t2 on t2.FIRM_ID = t.CURR
LEFT JOIN zp_dm_nrd.st_person t3 ON t.INN = t3.INN 
INNER JOIN zp_dm_nrd.st_person_j t4 ON t3.ID = t4.ID 
WHERE t3.INN is not null and t3.inn not like '%-' and not rlike(t3.inn, '^0+') and not rlike(t3.inn, '^1+') and t3.person_type=1 
and not rlike(t3.code,'^\d')
'''

In [3]:
sql = SQLParser()

In [4]:
print(raw)

SELECT DISTINCT t.EQ, t.CURR, t.INN, t3.code as REPOSITARY_ID,
CASE WHEN t1.SHORT_NAME is NULL THEN
CASE WHEN t2.SHORT_NAME is NULL THEN
CASE WHEN t4.SHORT_NAME is NULL THEN 'NOT FOUND'
ELSE t4.SHORT_NAME END
ELSE t2.SHORT_NAME END
ELSE t1.SHORT_NAME END as SHORT_NAME,
CASE WHEN t1.NAME is NULL THEN
CASE WHEN t2.NAME is NULL THEN
CASE WHEN t4.FULL_NAME is NULL THEN 'NOT FOUND'
ELSE t4.FULL_NAME END
ELSE t2.NAME END
ELSE t1.NAME END as NAME,
CASE WHEN t1.EXCHANGE_ID = 'MICX' THEN 1
WHEN t1.EXCHANGE_ID = 'PICX' THEN 2
WHEN t1.EXCHANGE_ID = 'NICX' THEN 3
ELSE 9 END as number_
FROM uniq_inn t LEFT JOIN zp_dm_vdrf.SV_EQ_FIRMS t1 on t1.FIRM_ID = t.EQ
LEFT JOIN  zp_dm_vdrf.SV_CURR_FIRMS t2 on t2.FIRM_ID = t.CURR
LEFT JOIN zp_dm_nrd.st_person t3 ON t.INN = t3.INN
INNER JOIN zp_dm_nrd.st_person_j t4 ON t3.ID = t4.ID
WHERE t3.INN is not null and t3.inn not like '%-' and not rlike(t3.inn, '^0+') and not rlike(t3.inn, '^1+') and t3.person_type=1
and not rlike(t3.code,'^\d')

In [8]:
var = sql.replace_tabs_from_string(raw)
print(var)

SELECT DISTINCT t.EQ, t.CURR, t.INN, t3.code as REPOSITARY_ID, CASE WHEN t1.SHORT_NAME is NULL THEN CASE WHEN t2.SHORT_NAME is NULL THEN CASE WHEN t4.SHORT_NAME is NULL THEN 'NOT FOUND' ELSE t4.SHORT_NAME END ELSE t2.SHORT_NAME END ELSE t1.SHORT_NAME END as SHORT_NAME, CASE WHEN t1.NAME is NULL THEN CASE WHEN t2.NAME is NULL THEN CASE WHEN t4.FULL_NAME is NULL THEN 'NOT FOUND' ELSE t4.FULL_NAME END ELSE t2.NAME END ELSE t1.NAME END as NAME, CASE WHEN t1.EXCHANGE_ID = 'MICX' THEN 1 WHEN t1.EXCHANGE_ID = 'PICX' THEN 2 WHEN t1.EXCHANGE_ID = 'NICX' THEN 3 ELSE 9 END as number_ FROM uniq_inn t LEFT JOIN zp_dm_vdrf.SV_EQ_FIRMS t1 on t1.FIRM_ID = t.EQ LEFT JOIN zp_dm_vdrf.SV_CURR_FIRMS t2 on t2.FIRM_ID = t.CURR LEFT JOIN zp_dm_nrd.st_person t3 ON t.INN = t3.INN INNER JOIN zp_dm_nrd.st_person_j t4 ON t3.ID = t4.ID WHERE t3.INN is not null and t3.inn not like '%-' and not rlike(t3.inn, '^0+') and not rlike(t3.inn, '^1+') and t3.person_type=1 and not rlike(t3.code,'^\d')

In [13]:
var1 = sqlparse.format(var, reindent=True, identifier_case='lower', keyword_case='upper')

In [14]:
print(var1)

SELECT DISTINCT t.eq,
                t.curr,
                t.inn,
                t3.code AS repositary_id,
                CASE
                    WHEN t1.short_name IS NULL THEN CASE
                                                        WHEN t2.short_name IS NULL THEN CASE
                                                                                            WHEN t4.short_name IS NULL THEN 'NOT FOUND'
                                                                                            ELSE t4.short_name
                                                                                        END
                                                        ELSE t2.short_name
                                                    END
                    ELSE t1.short_name
                END AS short_name,
                CASE
                    WHEN t1.name IS NULL THEN CASE
                                                  WHEN t2.name IS NULL THEN CASE
                                                                                WHEN t4.full_name IS NULL THEN 'NOT FOUND'
                                                                                ELSE t4.full_name
                                                                            END
                                                  ELSE t2.name
                                              END
                    ELSE t1.name
                END AS name,
                CASE
                    WHEN t1.exchange_id = 'MICX' THEN 1
                    WHEN t1.exchange_id = 'PICX' THEN 2
                    WHEN t1.exchange_id = 'NICX' THEN 3
                    ELSE 9
                END AS number_
FROM uniq_inn t
LEFT JOIN zp_dm_vdrf.sv_eq_firms t1 ON t1.firm_id = t.eq
LEFT JOIN zp_dm_vdrf.sv_curr_firms t2 ON t2.firm_id = t.curr
LEFT JOIN zp_dm_nrd.st_person t3 ON t.inn = t3.inn
INNER JOIN zp_dm_nrd.st_person_j t4 ON t3.id = t4.id
WHERE t3.inn IS NOT NULL
  AND t3.inn not like '%-'
  AND not rlike(t3.inn,
                '^0+')
  AND not rlike(t3.inn,
                '^1+')
  AND t3.person_type=1
  AND not rlike(t3.code,
                '^\d')

In [15]:
var2 = sql.replace_where_stmnt(var1)
print(var2)

SELECT DISTINCT t.eq,
                t.curr,
                t.inn,
                t3.code AS repositary_id,
                CASE
                    WHEN t1.short_name IS NULL THEN CASE
                                                        WHEN t2.short_name IS NULL THEN CASE
                                                                                            WHEN t4.short_name IS NULL THEN 'NOT FOUND'
                                                                                            ELSE t4.short_name
                                                                                        END
                                                        ELSE t2.short_name
                                                    END
                    ELSE t1.short_name
                END AS short_name,
                CASE
                    WHEN t1.name IS NULL THEN CASE
                                                  WHEN t2.name IS NULL THEN CASE
                                                                                WHEN t4.full_name IS NULL THEN 'NOT FOUND'
                                                                                ELSE t4.full_name
                                                                            END
                                                  ELSE t2.name
                                              END
                    ELSE t1.name
                END AS name,
                CASE
                    WHEN t1.exchange_id = 'MICX' THEN 1
                    WHEN t1.exchange_id = 'PICX' THEN 2
                    WHEN t1.exchange_id = 'NICX' THEN 3
                    ELSE 9
                END AS number_
FROM uniq_inn t
LEFT JOIN zp_dm_vdrf.sv_eq_firms t1 ON t1.firm_id = t.eq
LEFT JOIN zp_dm_vdrf.sv_curr_firms t2 ON t2.firm_id = t.curr
LEFT JOIN zp_dm_nrd.st_person t3 ON t.inn = t3.inn
INNER JOIN zp_dm_nrd.st_person_j t4 ON t3.id = t4.id
WHERE 1=1
 AND t3.inn IS NOT NULL
  AND t3.inn not like '%-'
  AND not rlike(t3.inn,
                '^0+')
  AND not rlike(t3.inn,
                '^1+')
  AND t3.person_type=1
  AND not rlike(t3.code,
                '^\d')

In [16]:
var3 = sql.replace_select_stmnt(var2)
print(var3)

SELECT DISTINCT
 		 t.eq,
                t.curr,
                t.inn,
                t3.code AS repositary_id,
                CASE
                    WHEN t1.short_name IS NULL THEN CASE
                                                        WHEN t2.short_name IS NULL THEN CASE
                                                                                            WHEN t4.short_name IS NULL THEN 'NOT FOUND'
                                                                                            ELSE t4.short_name
                                                                                        END
                                                        ELSE t2.short_name
                                                    END
                    ELSE t1.short_name
                END AS short_name,
                CASE
                    WHEN t1.name IS NULL THEN CASE
                                                  WHEN t2.name IS NULL THEN CASE
                                                                                WHEN t4.full_name IS NULL THEN 'NOT FOUND'
                                                                                ELSE t4.full_name
                                                                            END
                                                  ELSE t2.name
                                              END
                    ELSE t1.name
                END AS name,
                CASE
                    WHEN t1.exchange_id = 'MICX' THEN 1
                    WHEN t1.exchange_id = 'PICX' THEN 2
                    WHEN t1.exchange_id = 'NICX' THEN 3
                    ELSE 9
                END AS number_
FROM uniq_inn t
LEFT JOIN zp_dm_vdrf.sv_eq_firms t1 ON t1.firm_id = t.eq
LEFT JOIN zp_dm_vdrf.sv_curr_firms t2 ON t2.firm_id = t.curr
LEFT JOIN zp_dm_nrd.st_person t3 ON t.inn = t3.inn
INNER JOIN zp_dm_nrd.st_person_j t4 ON t3.id = t4.id
WHERE 1=1
 AND t3.inn IS NOT NULL
  AND t3.inn not like '%-'
  AND not rlike(t3.inn,
                '^0+')
  AND not rlike(t3.inn,
                '^1+')
  AND t3.person_type=1
  AND not rlike(t3.code,
                '^\d')