In [48]:
%load_ext autoreload
%autoreload 2

from SQLParser import *
import SQLFunctions as funcs
from SQLParserError import SQLParserError
import warnings

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [111]:
sql = SQLParser()
raw = '''

CREATE MULTISET TABLE PRD_DM.MC_FORECAST_RETURN_REVENUE 
    (
    REPORT_DATE DATE Format 'YY/MM/DD',
    RETURN_CURRENT_MONTH_DATE DECIMAL(18,6),
    RETURN_CURRENT_MONTH_LAST_YEAR_DATE DECIMAL(18,6),
    RETURN_CURRENT_MONTH_LAST_YEAR DECIMAL(18,6),
    RETURN_CURRENT_YEAR DECIMAL(18,6),
    RETURN_LAST_YEAR_LAST_DATE DECIMAL(18,6),
    RETURN_LAST_YEAR DECIMAL(18,6),
    REVENUE_CURRENT_MONTH_DATE DECIMAL(18,6),
    REVENUE_CURRENT_MONTH_LAST_YEAR_DATE DECIMAL(18,6),
    REVENUE_CURRENT_MONTH_LAST_YEAR DECIMAL(18,6),
    REVENUE_CURRENT_YEAR DECIMAL(18,6),
    REVENUE_LAST_YEAR_LAST_DATE DECIMAL(18,6),
    REVENUE_LAST_YEAR DECIMAL(18,6)
	)
PRIMARY INDEX ( REPORT_DATE );

INSERT INTO PRD_DM.MC_FORECAST_RETURN_REVENUE
SELECT * FROM UAT_DM.MC_FORECAST_RETURN_REVENUE;

CREATE MULTISET TABLE amount_per_day_usage
     (
      first_day_of_month DATE Format 'YY/MM/DD',
      REPORT_DATE DATE Format 'YY/MM/DD',
      SUBS_ID DECIMAL(12,0),
      BSEGMENT VARCHAR(20) CHARACTER SET Unicode CaseSpecific,
      rated_amount_sum DECIMAL(18,6)
	  )
PRIMARY INDEX ( SUBS_ID )
ON COMMIT PRESERVE ROWS;

 CREATE MULTISET VOLATILE TABLE amount_per_day_usage
     (
      first_day_of_month2 DATE Format 'YY/MM/DD',
      REPORT_DATE2 DATE Format 'YY/MM/DD',
      SUBS_ID2 DECIMAL(12,0),
      BSEGMENT2 VARCHAR(20) CHARACTER SET Unicode CaseSpecific,
      rated_amount_sum2 DECIMAL(18,6)
	  )
PRIMARY INDEX ( SUBS_ID )
ON COMMIT PRESERVE ROWS;

CREATE MULTISET VOLATILE TABLE amount_per_day_usage
     (
      first_day_of_month1 DATE Format 'YY/MM/DD',
      REPORT_DATE1 DATE Format 'YY/MM/DD',
      SUBS_ID1 DECIMAL(12,0),
      BSEGMENT1 VARCHAR(20) CHARACTER SET Unicode CaseSpecific,
      rated_amount_sum1 DECIMAL(18,6)
	  )
PRIMARY INDEX ( SUBS_ID )
ON COMMIT PRESERVE ROWS;

'''

In [50]:
sql.run_code_style(raw)

Start run_code_style() function
1 - functions_upper_case_sub() - done
2 - where_clause_sub() - done
3 - where_and_or_rule_sub - done
4 - Window functions were not found. Return raw.
5 - create_table_sub() - done
6 - join_rule_sub() - done
7 - join_and_or_rule_sub() - done
All substitutions are well done
All warnings are well done

CREATE multiset TABLE prd_dm.mc_forecast_return_revenue (
    report_date DATE format 'YY/MM/DD',
    return_current_month_date decimal(18, 6),
    return_current_month_last_year_date decimal(18, 6),
    return_current_month_last_year decimal(18, 6),
    return_current_year decimal(18, 6),
    return_last_year_last_date decimal(18, 6),
    return_last_year decimal(18, 6),
    revenue_current_month_date decimal(18, 6),
    revenue_current_month_last_year_date decimal(18, 6),
    revenue_current_month_last_year decimal(18, 6),
    revenue_current_year decimal(18, 6),
    revenue_last_year_last_date decimal(18, 6),
    revenue_last_year decimal(18, 6)
    )
PRIMARY INDEX (report_date);


INSERT INTO prd_dm.mc_forecast_return_revenue
SELECT *
FROM uat_dm.mc_forecast_return_revenue;


CREATE multiset TABLE amount_per_day_usage (
    first_day_of_month DATE format 'YY/MM/DD',
    report_date DATE format 'YY/MM/DD',
    subs_id decimal(12, 0),
    bsegment varchar(20) CHARACTER
    SET unicode casespecific,
    rated_amount_sum decimal(18, 6)
    )
PRIMARY INDEX (subs_id) ON
COMMIT PRESERVE ROWS;


CREATE multiset VOLATILE TABLE amount_per_day_usage (
    first_day_of_month DATE format 'YY/MM/DD',
    report_date DATE format 'YY/MM/DD',
    subs_id decimal(12, 0),
    bsegment varchar(20) CHARACTER
    SET unicode casespecific,
    rated_amount_sum decimal(18, 6)
    )
PRIMARY INDEX (subs_id) ON
COMMIT PRESERVE ROWS;


CREATE multiset VOLATILE TABLE amount_per_day_usage (
    first_day_of_month1 DATE format 'YY/MM/DD',
    report_date1 DATE format 'YY/MM/DD',
    subs_id1 decimal(12, 0),
    bsegment1 varchar(20) CHARACTER
    SET unicode casespecific,
    rated_amount_sum1 decimal(18, 6)
    )
PRIMARY INDEX (subs_id) ON
COMMIT PRESERVE ROWS;

In [112]:
d = sql.default_string(raw)
print(d)

CREATE multiset TABLE prd_dm.mc_forecast_return_revenue (report_date DATE format 'YY/MM/DD',
                                                                                 return_current_month_date decimal(18, 6),
                                                                                                           return_current_month_last_year_date decimal(18, 6),
                                                                                                                                               return_current_month_last_year decimal(18, 6),
                                                                                                                                                                              return_current_year decimal(18, 6),
                                                                                                                                                                                                  return_last_year_last_date decimal(18, 6),
                                                                                                                                                                                                                             return_last_year decimal(18, 6),
                                                                                                                                                                                                                                              revenue_current_month_date decimal(18, 6),
                                                                                                                                                                                                                                                                         revenue_current_month_last_year_date decimal(18, 6),
                                                                                                                                                                                                                                                                                                              revenue_current_month_last_year decimal(18, 6),
                                                                                                                                                                                                                                                                                                                                              revenue_current_year decimal(18, 6),
                                                                                                                                                                                                                                                                                                                                                                   revenue_last_year_last_date decimal(18, 6),
                                                                                                                                                                                                                                                                                                                                                                                               revenue_last_year decimal(18, 6)) PRIMARY INDEX (report_date);


INSERT INTO prd_dm.mc_forecast_return_revenue
SELECT *
FROM uat_dm.mc_forecast_return_revenue;


CREATE multiset TABLE amount_per_day_usage (first_day_of_month DATE format 'YY/MM/DD',
                                                                           report_date DATE format 'YY/MM/DD',
                                                                                                   subs_id decimal(12, 0),
                                                                                                           bsegment varchar(20) CHARACTER
                                            SET unicode casespecific,
                                                rated_amount_sum decimal(18, 6)) PRIMARY INDEX (subs_id) ON
COMMIT PRESERVE ROWS;


CREATE multiset VOLATILE TABLE amount_per_day_usage (first_day_of_month2 DATE format 'YY/MM/DD',
                                                                                     report_date2 DATE format 'YY/MM/DD',
                                                                                                              subs_id2 decimal(12, 0),
                                                                                                                       bsegment2 varchar(20) CHARACTER
                                                     SET unicode casespecific,
                                                         rated_amount_sum2 decimal(18, 6)) PRIMARY INDEX (subs_id) ON
COMMIT PRESERVE ROWS;


CREATE multiset VOLATILE TABLE amount_per_day_usage (first_day_of_month1 DATE format 'YY/MM/DD',
                                                                                     report_date1 DATE format 'YY/MM/DD',
                                                                                                              subs_id1 decimal(12, 0),
                                                                                                                       bsegment1 varchar(20) CHARACTER
                                                     SET unicode casespecific,
                                                         rated_amount_sum1 decimal(18, 6)) PRIMARY INDEX (subs_id) ON
COMMIT PRESERVE ROWS;

In [123]:
print(create_table_sub(d))

CREATE multiset TABLE prd_dm.mc_forecast_return_revenue (
    report_date DATE format 'YY/MM/DD',
    return_current_month_date decimal(18, 6),
    return_current_month_last_year_date decimal(18, 6),
    return_current_month_last_year decimal(18, 6),
    return_current_year decimal(18, 6),
    return_last_year_last_date decimal(18, 6),
    return_last_year decimal(18, 6),
    revenue_current_month_date decimal(18, 6),
    revenue_current_month_last_year_date decimal(18, 6),
    revenue_current_month_last_year decimal(18, 6),
    revenue_current_year decimal(18, 6),
    revenue_last_year_last_date decimal(18, 6),
    revenue_last_year decimal(18, 6)
    )
PRIMARY INDEX (report_date);


INSERT INTO prd_dm.mc_forecast_return_revenue
SELECT *
FROM uat_dm.mc_forecast_return_revenue;


CREATE multiset TABLE amount_per_day_usage (
    first_day_of_month DATE format 'YY/MM/DD',
    report_date DATE format 'YY/MM/DD',
    subs_id decimal(12, 0),
    bsegment varchar(20) CHARACTER SET unicode casespecific,
    rated_amount_sum decimal(18, 6)
    )
PRIMARY INDEX (subs_id) ON
COMMIT PRESERVE ROWS;


CREATE multiset VOLATILE TABLE amount_per_day_usage (
    first_day_of_month2 DATE format 'YY/MM/DD',
    report_date2 DATE format 'YY/MM/DD',
    subs_id2 decimal(12, 0),
    bsegment2 varchar(20) CHARACTER SET unicode casespecific,
    rated_amount_sum2 decimal(18, 6)
    )
PRIMARY INDEX (subs_id) ON
COMMIT PRESERVE ROWS;


CREATE multiset VOLATILE TABLE amount_per_day_usage (
    first_day_of_month1 DATE format 'YY/MM/DD',
    report_date1 DATE format 'YY/MM/DD',
    subs_id1 decimal(12, 0),
    bsegment1 varchar(20) CHARACTER SET unicode casespecific,
    rated_amount_sum1 decimal(18, 6)
    )
PRIMARY INDEX (subs_id) ON
COMMIT PRESERVE ROWS;

In [122]:
    def create_table_sub(raw):
        '''
        Функция исправляет отступы при создании таблиц в терадате. 
        '''
        assert isinstance(raw, str), 'Аргумент raw должен быть типа string'
                
        if 'CREATE' in raw:
            
            script_by_rows = [tup for tup in raw.split('\n')]
            
            create_keywords = ['CREATE multiset TABLE', 'CREATE multiset VOLATILE TABLE', 'CREATE MULTISET VOLATILE TABLE']
            create_end = ['INSERT', 'CREATE', ]
            
            create_groups = []
            counter = 0
        
            for ind in range(0, len(script_by_rows)):
            
                # если строка начинается с create_keywords, то запоминаем ее индекс
                if script_by_rows[ind].startswith(tuple(create_keywords)) and counter == 0:
                    counter = ind
                
                # если впереди другие операторы (не create_keywords) и счетчик не равен 0, то записываем диапазон
                if ';' in script_by_rows[ind] and counter != 0:
                    create_groups.append(script_by_rows[counter:ind+1])
                    counter = 0
            #print(create_groups)
            spaces = 4 * ' '
            for group in create_groups:
                for ind in range(0, len(group)):
                    if len(group[ind]) > 0:
                        re_val = group[ind].replace(')', '\)').replace('(', '\(')
                        pattern = re.compile(f'{re_val}')
                        if '(' in group[ind] and group[ind].startswith(tuple(create_keywords)):
                            right_val = group[ind].strip().replace('(', '(\n' + spaces)
                            raw = pattern.sub(right_val, raw, 1)
                        elif '))' in group[ind] and (';' in group[ind] or ' INDEX ' in group[ind]):
                            right_val = spaces + group[ind].strip().replace(')) ', ')\n' + spaces + ')\n')
                            raw = pattern.sub(right_val, raw, 1)
                        elif 'COMMIT PRESERVE ROWS;' in group[ind]:
                            right_val = group[ind].strip()
                            raw = pattern.sub(right_val, raw, 1)
                        elif 'SET unicode' in group[ind] and 'CHARACTER' in group[ind-1]:
                            right_val = spaces + group[ind-1].strip() + ' ' + group[ind].strip()
                            raw = pattern.sub(right_val, raw, 1)
                            
                            re_val = spaces + group[ind-1].strip().replace(')', '\)').replace('(', '\(')
                            pattern = re.compile(f'{re_val}' + '\n')
                            right_val = ''
                            raw = pattern.sub(right_val, raw, 1)
                        else:
                            re_val = group[ind].replace(')', '\)').replace('(', '\(')
                            pattern = re.compile(f'{re_val}')
                            right_val = spaces + group[ind].strip()
                            raw = pattern.sub(right_val, raw, 1)
        return raw

In [9]:
t = 'bsegment varchar(20) CHARACTER'
g = 'SET unicode casespecific,'
t.replace()

"\nCREATE multiset TABLE prd_dm.mc_forecast_return_revenue (report_date DATE format 'YY/MM/DD',\n                                                                                 return_current_month_date decimal(18, 6),\n                                                                                                           return_current_month_last_year_date decimal(18, 6),\n                                                                                                                                               return_current_month_last_year decimal(18, 6),\n                                                                                                                                                                              return_current_year decimal(18, 6),\n                                                                                                                                                                                                  return_last_year_last_date decimal(18, 6),\n                                                                                                                                                                                                                             return_last_year decimal(18, 6),\n                                                                                                                                                                                                                                              revenue_current_month_date decimal(18, 6),\n                                                                                                                                                                                                                                                                         revenue_current_month_last_year_date decimal(18, 6),\n                                                                                                                                                                                                                                                                                                              revenue_current_month_last_year decimal(18, 6),\n                                                                                                                                                                                                                                                                                                                                              revenue_current_year decimal(18, 6),\n                                                                                                                                                                                                                                                                                                                                                                   revenue_last_year_last_date decimal(18, 6),\n                                                                                                                                                                                                                                                                                                                                                                                               revenue_last_year decimal(18, 6)) PRIMARY INDEX (report_date);\n\n\nINSERT INTO prd_dm.mc_forecast_return_revenue\nSELECT *\nFROM uat_dm.mc_forecast_return_revenue;\n\n\nCREATE multiset TABLE amount_per_day_usage (first_day_of_month DATE format 'YY/MM/DD',\n                                                                           report_date DATE format 'YY/MM/DD',\n                                                                                                   subs_id decimal(12, 0),\n                                                                                                           bsegment varchar(20) CHARACTER\n                                            SET unicode casespecific,\n                                                rated_amount_sum decimal(18, 6)) PRIMARY INDEX (subs_id) ON\nCOMMIT PRESERVE ROWS;\n\n\nCREATE multiset VOLATILE TABLE amount_per_day_usage (first_day_of_month DATE format 'YY/MM/DD',\n                                                                                    report_date DATE format 'YY/MM/DD',\n                                                                                                            subs_id decimal(12, 0),\n                                                                                                                    bsegment varchar(20) CHARACTER\n                                                     SET unicode casespecific,\n                                                         rated_amount_sum decimal(18, 6)) PRIMARY INDEX (subs_id) ON\nCOMMIT PRESERVE ROWS;"

In [91]:
'set' in 'tes'

False