In [6]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import sqlparse
import re
from SQLParser import *
import SQLFunctions as funcs
from SQLParserError import SQLParserError
import warnings

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
sql = SQLParser()

In [3]:
raw = '''
SELect
    t.report_date
  , t.gendeR
, active
, sUm(t.vol) as sum_vol
, Count(t.xsdf) as dfv
, avg(sdf) as fpl
, sum(total_days_per_month) over (partition by subs_id, id order by subs_id, end_of_month rows between 2 preceding and current row) as cum_sum_90d_1
, active
, sUm(t.vol) as sum_vol
, sUm(t.vol) as sum_vol
, sUm(t.vol) as sum_vol
, sUm(t.vol) as sum_vol
, sUm(t.vol) as sum_vol
, sum(total_days_per_month) over (partition by subs_id order by subs_id, end_of_month rows between 2 preceding and current row) as cum_sum_90d_2
, active
  , t.gendeR
, sUm(t.vol) as sum_vol
, sum(total_days_per_month) over (order by subs_id, end_of_month rows between 2 preceding and current row) as cum_sum_90d_3
, active
  , t.gendeR
FROM active_data_users AS t
LEFT JOIN traffic AS trf ON
JOIN table as tab on t.subs_id = tab.subs_id or t.report_date = tab.report_date1_
and (t.subs_id = trf.subs_id or t.id = trf.id)
left join bar on t.num = bar.num and t.dt = bar.dt and (t.foo = tab.foo or t.buzz = tab.buzz)
where  t> 3  and  t=0 and (d>t.wef or d>6 or t.vol = 49 or t.vol = 10 or y =13) and f=  12 or t.vol  =   r.top and i in   (1111, 111222, 2222222222, 22222222444444444, 4444444444444555555555555555555)
GROUP BY
1, 2, 3,4
, t.report_date
, age_group
, t.gender;

select * from tab join buzz on a=b where 1=1 and id != 111 or name in (xyz, abc);
select * from tabl full outer join foo as f on name  =name where t = 9;

select t.var 
from foo as f
join buzz as b
    on (
        f.id=b.id
        and f.dt=b.dt
        and xyz.sdfjhfd = c.asdnweionf
    )
where 1=  1 and b.date >= '2022-10-01' and t.name != 'not in RU'
'''

In [5]:
sql.run_code_style(raw)

Start run_code_style() function
1 - functions_upper_case_sub() - done
2 - where_clause_sub() - done
3 - where_and_or_rule_sub - done
4 - Window functions were not found. Return raw.
5 - Create functions were not found. Return raw.
6 - join_rule_sub() - done
7 - join_and_or_rule_sub() - done
All substitutions are well done
All warnings are well done

SELECT t.year_of_calendar ,
       DATEDIFF(usr.end_dttm, usr.start_dttm) AS days_per_trip ,
       CASE
           WHEN non_flick.connections_per_day IS NOT NULL THEN 1
           ELSE 0
       END AS flick_flag ,
       CASE
           WHEN lt.rank_in_month IS NOT NULL THEN 1
           ELSE 0
       END AS longest_trip_flag
FROM MONTH AS t
JOIN non_flickers AS non_flick ON usr.subs_id = non_flick.subs_id
AND t.calendar_date = non_flick.calendar_date
AND connections_per_day IS NOT NULL

In [130]:
raw1 = '''
WITH ALL_USERS_MC AS (
	SELECT
		t.subs_id
		, t.msisdn
		, t.transaction_id
		, t.transaction_dttm
		, t.amount_rub
		, t.revenue_rub
		, t.update_ts
		, serv.valid_from_date
		, serv.valid_to_date
	FROM prd2_dds_v2.mobile_commerce AS t
	JOIN prd2_dds_v2.service_instance AS serv ON t.subs_id = serv.subs_id
		AND serv.service_id = 30709
	WHERE 1=1
		AND t.transaction_dttm > '2022-09-30 00:00:00'
),

ORDERED_MOVINGS AS (
	SELECT
		t.subs_id
		, t.start_dttm
		, t.start_date
		, t.end_dttm
		, t.a_number
		, t.b_number
		, Lag(t.start_dttm, 1, t.start_dttm + INTERVAL '1' SECOND) Over (PARTITION BY t.subs_id, t.start_date ORDER BY t.start_dttm) AS lag_time1
		, Lag(t.start_dttm, 2, t.start_dttm + INTERVAL '2' SECOND) Over (PARTITION BY t.subs_id, t.start_date ORDER BY t.start_dttm) AS lag_time2
		, Lag(t.start_dttm, 3, t.start_dttm + INTERVAL '3' SECOND) Over (PARTITION BY t.subs_id, t.start_date ORDER BY t.start_dttm) AS lag_time3
	FROM PRD2_DDS_V.USAGE AS t
	WHERE 1=1
		AND t.start_date BETWEEN DATE'2022-10-01' AND DATE'2022-10-31'
		AND t.subs_id IN (SELECT DISTINCT subs_id FROM all_users_mc)
		AND t.traffic_type_id = 2
		AND (t.b_number = '7757' OR Length(t.b_number) = 11)
		AND (t.a_number IN ('312', '7757') OR Length(t.a_number) = 11)
)
select * from ORDERED_MOVINGS
'''

In [123]:
print(sql.default_string(raw1))

WITH all_users_mc AS
    (SELECT t.subs_id ,
            t.msisdn ,
            t.transaction_id ,
            t.transaction_dttm ,
            t.amount_rub ,
            t.revenue_rub ,
            t.update_ts ,
            serv.valid_from_date ,
            serv.valid_to_date
     FROM prd2_dds_v2.mobile_commerce AS t
     JOIN prd2_dds_v2.service_instance AS serv ON t.subs_id = serv.subs_id
     AND serv.service_id = 30709
     WHERE 1 = 1
         AND t.transaction_dttm > '2022-09-30 00:00:00' ),
     ordered_movings AS
    (SELECT t.subs_id ,
            t.start_dttm ,
            t.start_date ,
            t.end_dttm ,
            t.a_number ,
            t.b_number ,
            lag(t.start_dttm, 1, t.start_dttm + INTERVAL '1' SECOND) OVER (PARTITION BY t.subs_id,
                                                                                        t.start_date
                                                                           ORDER BY t.start_dttm) AS lag_time1 ,
                                                                          lag(t.start_dttm, 2, t.start_dttm + INTERVAL '2' SECOND) OVER (PARTITION BY t.subs_id,
                                                                                                                                                      t.start_date
                                                                                                                                         ORDER BY t.start_dttm) AS lag_time2 ,
                                                                                                                                        lag(t.start_dttm, 3, t.start_dttm + INTERVAL '3' SECOND) OVER (PARTITION BY t.subs_id,
                                                                                                                                                                                                                    t.start_date
                                                                                                                                                                                                       ORDER BY t.start_dttm) AS lag_time3
     FROM prd2_dds_v.usage AS t
     WHERE 1 = 1
         AND t.start_date BETWEEN DATE'2022-10-01' AND DATE'2022-10-31'
         AND t.subs_id IN
             (SELECT DISTINCT subs_id
              FROM all_users_mc)
         AND t.traffic_type_id = 2
         AND (t.b_number = '7757'
              OR length(t.b_number) = 11)
         AND (t.a_number IN ('312',
                             '7757')
              OR length(t.a_number) = 11) )

In [124]:
sql.run_code_style(raw1)

functions_upper_case_sub
whitespaces_sub
where_clause_sub
where_and_or_rule_sub
join_rule_sub
join_and_or_rule_sub
WITH all_users_mc AS
    (SELECT t.subs_id,
            t.msisdn,
            t.transaction_id,
            t.transaction_dttm,
            t.amount_rub,
            t.revenue_rub,
            t.update_ts,
            serv.valid_from_date,
            serv.valid_to_date
     FROM prd2_dds_v2.mobile_commerce AS t
     JOIN prd2_dds_v2.service_instance AS serv ON t.subs_id = serv.subs_id
     AND serv.service_id = 30709
     WHERE 1 = 1
         AND t.transaction_dttm > '2022-09-30 00:00:00' ),
     ordered_movings AS
    (SELECT t.subs_id,
            t.start_dttm,
            t.start_date,
            t.end_dttm,
            t.a_number,
            t.b_number,
            LAG(t.start_dttm, 1, t.start_dttm + INTERVAL '1' SECOND) OVER (PARTITION BY t.subs_id,
                                                                                        t.start_date
                                                                           ORDER BY t.start_dttm) AS lag_time1,
                                                                          LAG(t.start_dttm, 2, t.start_dttm + INTERVAL '2' SECOND) OVER (PARTITION BY t.subs_id,
                                                                                                                                                      t.start_date
                                                                                                                                         ORDER BY t.start_dttm) AS lag_time2,
                                                                                                                                        LAG(t.start_dttm, 3, t.start_dttm + INTERVAL '3' SECOND) OVER (PARTITION BY t.subs_id,
                                                                                                                                                                                                                    t.start_date
                                                                                                                                                                                                       ORDER BY t.start_dttm) AS lag_time3
     FROM prd2_dds_v.USAGE AS t
     WHERE 1 = 1
         AND t.start_date BETWEEN DATE'2022-10-01' AND DATE'2022-10-31'
         AND t.subs_id IN
             (SELECT DISTINCT subs_id
              FROM all_users_mc)
         AND t.traffic_type_id = 2
         AND (t.b_number = '7757'
              OR LENGTH(t.b_number) = 11)
         AND (t.a_number IN ('312',
                             '7757')
              OR LENGTH(t.a_number) = 11) )

In [102]:
raw2 = '''

CREATE MULTISET TABLE PRD_DM.MC_FORECAST_RETURN_REVENUE 
    (
    REPORT_DATE DATE Format 'YY/MM/DD',
    RETURN_CURRENT_MONTH_DATE DECIMAL(18,6),
    RETURN_CURRENT_MONTH_LAST_YEAR_DATE DECIMAL(18,6),
    RETURN_CURRENT_MONTH_LAST_YEAR DECIMAL(18,6),
    RETURN_CURRENT_YEAR DECIMAL(18,6),
    RETURN_LAST_YEAR_LAST_DATE DECIMAL(18,6),
    RETURN_LAST_YEAR DECIMAL(18,6),
    REVENUE_CURRENT_MONTH_DATE DECIMAL(18,6),
    REVENUE_CURRENT_MONTH_LAST_YEAR_DATE DECIMAL(18,6),
    REVENUE_CURRENT_MONTH_LAST_YEAR DECIMAL(18,6),
    REVENUE_CURRENT_YEAR DECIMAL(18,6),
    REVENUE_LAST_YEAR_LAST_DATE DECIMAL(18,6),
    REVENUE_LAST_YEAR DECIMAL(18,6)
	)
PRIMARY INDEX ( REPORT_DATE );

INSERT INTO PRD_DM.MC_FORECAST_RETURN_REVENUE
SELECT * FROM UAT_DM.MC_FORECAST_RETURN_REVENUE;

CREATE MULTISET TABLE amount_per_day_usage
     (
      first_day_of_month DATE Format 'YY/MM/DD',
      REPORT_DATE DATE Format 'YY/MM/DD',
      SUBS_ID DECIMAL(12,0),
      BSEGMENT VARCHAR(20) CHARACTER SET Unicode CaseSpecific,
      rated_amount_sum DECIMAL(18,6)
	  )
PRIMARY INDEX ( SUBS_ID )
ON COMMIT PRESERVE ROWS;

 CREATE MULTISET VOLATILE TABLE amount_per_day_usage
     (
      first_day_of_month DATE Format 'YY/MM/DD',
      REPORT_DATE DATE Format 'YY/MM/DD',
      SUBS_ID DECIMAL(12,0),
      BSEGMENT VARCHAR(20) CHARACTER SET Unicode CaseSpecific,
      rated_amount_sum DECIMAL(18,6)
	  )
PRIMARY INDEX ( SUBS_ID )
ON COMMIT PRESERVE ROWS;

'''

In [131]:
sql.run_code_style(raw1)

        CodeStyle Warning in row_max_symbols_warn(): Максимальное количество символов в строке – не более 80. (SQL Style Guide. Общие конструкции.
        Ссылка: https://wiki.tele2.ru/pages/viewpage.action?pageId=139127857&preview=/139127857/139128786/SQL%20StyleGuide.pdf).
        Перечень строк с ошибками сохранен в объекте row_max_symbols_df.

functions_upper_case_sub
where_clause_sub
where_and_or_rule_sub
join_rule_sub
join_and_or_rule_sub
WITH all_users_mc AS
    (SELECT t.subs_id ,
            t.msisdn ,
            t.transaction_id ,
            t.transaction_dttm ,
            t.amount_rub ,
            t.revenue_rub ,
            t.update_ts ,
            serv.valid_from_date ,
            serv.valid_to_date
     FROM prd2_dds_v2.mobile_commerce AS t
     JOIN prd2_dds_v2.service_instance AS serv ON t.subs_id = serv.subs_id
     AND serv.service_id = 30709
     WHERE 1 = 1
         AND t.transaction_dttm > '2022-09-30 00:00:00' ),
     ordered_movings AS
    (SELECT t.subs_id ,
            t.start_dttm ,
            t.start_date ,
            t.end_dttm ,
            t.a_number ,
            t.b_number ,
            LAG(t.start_dttm, 1, t.start_dttm + INTERVAL '1' SECOND) OVER (PARTITION BY t.subs_id,
                                                                                        t.start_date
                                                                           ORDER BY t.start_dttm) AS lag_time1 ,
                                                                          LAG(t.start_dttm, 2, t.start_dttm + INTERVAL '2' SECOND) OVER (PARTITION BY t.subs_id,
                                                                                                                                                      t.start_date
                                                                                                                                         ORDER BY t.start_dttm) AS lag_time2 ,
                                                                                                                                        LAG(t.start_dttm, 3, t.start_dttm + INTERVAL '3' SECOND) OVER (PARTITION BY t.subs_id,
                                                                                                                                                                                                                    t.start_date
                                                                                                                                                                                                       ORDER BY t.start_dttm) AS lag_time3
     FROM prd2_dds_v.usage AS t
     WHERE 1 = 1
         AND t.start_date BETWEEN DATE'2022-10-01' AND DATE'2022-10-31'
         AND t.subs_id IN
             (SELECT DISTINCT subs_id
              FROM all_users_mc)
         AND t.traffic_type_id = 2
         AND (t.b_number = '7757'
              OR LENGTH(t.b_number) = 11)
         AND (t.a_number IN ('312',
                             '7757')
              OR LENGTH(t.a_number) = 11) )
SELECT *
FROM ordered_movings

In [128]:
raw3 = '''
REPLACE PROCEDURE uat_dm.RML_DS_740_PROC (sdate DATE, edate DATE)

 -- Начало процедуры
 SQL SECURITY INVOKER
 BEGIN 
 
 DECLARE start_date DATE;
 DECLARE end_date DATE;
 
 SET start_date = sdate;
 SET end_date = edate;
 
 WHILE start_date <= end_date
 DO
 
 CREATE MULTISET VOLATILE TABLE amount_per_day_usage
     (
      first_day_of_month DATE Format 'YY/MM/DD',
      REPORT_DATE DATE Format 'YY/MM/DD',
      SUBS_ID DECIMAL(12,0),
      BSEGMENT VARCHAR(20) CHARACTER SET Unicode CaseSpecific,
      rated_amount_sum DECIMAL(18,6)
	  )
PRIMARY INDEX ( SUBS_ID )
ON COMMIT PRESERVE ROWS;
 
 
INSERT INTO amount_per_day_usage
 	SELECT
		Trunc(t.report_date, 'MONTH') AS first_day_of_month
		, t.report_date
		, t.subs_id
		, subs.bsegment
		, Sum(t.rated_amount) AS rated_amount_sum
	FROM PRD2_BDS_V2.SUBS_USG_D AS t
	JOIN PRD2_BDS_V.SUBS_CLR_D AS subs 
		ON (t.subs_id = subs.subs_id
			AND t.report_date = subs.report_date)
	WHERE 1=1
		AND t.report_date = :start_date
		AND subs.bsegment = 'B2C'
	GROUP BY
		Trunc(t.report_date, 'MONTH')
		, t.report_date
		, t.subs_id
		, subs.bsegment;
 
 INSERT INTO uat_dm.ds_740_usage
 SELECT * FROM amount_per_day_usage;
 
 SET start_date = start_date + 1;
 DROP TABLE amount_per_day_usage;
 END WHILE;
 END;
'''

In [129]:
sql.run_code_style(raw3)

functions_upper_case_sub
whitespaces_sub
where_clause_sub
where_and_or_rule_sub
join_rule_sub
join_and_or_rule_sub

REPLACE PROCEDURE uat_dm.rml_ds_740_proc (sdate DATE, edate DATE) -- Начало процедуры
 SQL SECURITY INVOKER BEGIN DECLARE start_date DATE;

DECLARE end_date DATE;


SET start_date = sdate;


SET end_date = edate;

WHILE start_date < = end_date DO
CREATE multiset VOLATILE TABLE amount_per_day_usage (first_day_of_month DATE FORMAT 'YY/MM/DD',
                                                                                    report_date DATE FORMAT 'YY/MM/DD',
                                                                                                            subs_id DECIMAL(12, 0),
                                                                                                                    bsegment VARCHAR(20) CHARACTER
                                                     SET unicode casespecific,
                                                         rated_amount_sum DECIMAL(18, 6)) PRIMARY INDEX (subs_id) ON
COMMIT PRESERVE ROWS;


INSERT INTO amount_per_day_usage
SELECT TRUNC(t.report_date, 'MONTH') AS first_day_of_month,
       t.report_date,
       t.subs_id,
       subs.bsegment,
       SUM(t.rated_amount) AS rated_amount_sum
FROM prd2_bds_v2.subs_usg_d AS t
JOIN prd2_bds_v.subs_clr_d AS subs
    ON (
     (t.subs_id = subs.subs_id
                                           AND t.report_date = subs.report_date
        )
    )
WHERE 1 = 1
    AND t.report_date = :start_date
    AND subs.bsegment = 'B2C'
GROUP BY TRUNC(t.report_date, 'MONTH') ,
         t.report_date,
         t.subs_id,
         subs.bsegment;


INSERT INTO uat_dm.ds_740_usage
SELECT *
FROM amount_per_day_usage;


SET start_date = start_date + 1;


DROP TABLE amount_per_day_usage;

END WHILE;

END;

In [368]:
sql.simple_print_sql(
    raw, 
    reindent=True, 
    identifier_case='lower', 
    keyword_case='upper', 
    #indent_width=4,
    use_space_around_operators=True,
    #reindent_aligned=True,
    wrap_after=1,
    comma_first=False
)

SELECT t.report_date ,
       t.gender,
       active,
       sum(t.vol) AS sum_vol,
       count(t.xsdf) AS dfv,
       avg(sdf) AS fpl,
       sum(total_days_per_month) OVER (PARTITION BY subs_id,
                                                    id
                                       ORDER BY subs_id,
                                                end_of_month ROWS BETWEEN 2 preceding AND CURRENT ROW) AS cum_sum_90d_1,
                                      active,
                                      sum(total_days_per_month) OVER (PARTITION BY subs_id
                                                                      ORDER BY subs_id,
                                                                               end_of_month ROWS BETWEEN 2 preceding AND CURRENT ROW) AS cum_sum_90d_2,
                                                                     active,
                                                                     sum(total_days_per_month) OVER (PARTITION BY subs_id
                                                                                                     ORDER BY subs_id,
                                                                                                              end_of_month ROWS BETWEEN 2 preceding AND CURRENT ROW) AS cum_sum_90d_3,
                                                                                                    active
FROM active_data_users AS t
LEFT JOIN traffic AS trf ON
JOIN TABLE AS tab ON t.subs_id = tab.subs_id
OR t.report_date = tab.report_date1_
AND (t.subs_id = trf.subs_id
     OR t.id = trf.id)
LEFT JOIN bar ON t.num = bar.num
AND t.dt = bar.dt
AND (t.foo = tab.foo
     OR t.buzz = tab.buzz)
WHERE t > 3
  AND t = 0
  AND (d > t.wef
       OR d > 6
       OR t.vol = 49
       OR t.vol = 10
       OR y = 13)
  AND f = 12
  OR t.vol = r.top
  AND i in (1111,
            111222,
            2222222222,
            22222222444444444,
            4444444444444555555555555555555)
GROUP BY 1,
         2,
         3,
         4,
         t.report_date,
         age_group,
         t.gender;


SELECT *
FROM tab
JOIN buzz ON a = b
WHERE 1 = 1
  AND id != 111
  OR name in (xyz,
              abc);


SELECT *
FROM tabl
FULL OUTER JOIN foo AS f ON name = name
WHERE t = 9;


SELECT t.var
FROM foo AS f
JOIN buzz AS b ON (f.id = b.id
                   AND f.dt = b.dt
                   AND xyz.sdfjhfd = c.asdnweionf)
WHERE 1 = 1
  AND b.date >= '2022-10-01'
  AND t.name != 'not in RU'

In [ ]:
sqlparse.format(raw, reindent=True, identifier_case='lower', keyword_case='upper')

### DONE&TEST

In [ ]:
sql.print_sql(raw, reindent=True, identifier_case='lower', keyword_case='upper')

In [7]:
d = sqlparse.format(raw, reindent=True, identifier_case='lower', keyword_case='upper')

##### *Название функций пишется заглавными буквами*

In [8]:
def functions_upper_case(raw):
    assert isinstance(raw, str), 'Аргумент raw должен быть типа string'
    missing_words = [
        'UCASE', 'LCASE', 'MID', 'ROUND', 'FORMAT', 'ASCII', 'datalength', 'ltrim', 'patindex', 'stuff', 'ceiling', 'rand',
        'datediff', 'datename', 'datepart', 'getdate', 'getutcdate', 'try_cast', 'try_convert', 'isdate', 'isnumeric', 'lag',
        'lead', 'sessionproperty', 'user_name', 'REPLICATE', 'REVERSE', 'SOUNDEX', 'ACOS', 'ASIN', 'ATAN', 'ATN2', 'COS', 'COT',
        'DEGREES', 'EXP', 'LOG', 'LOG10', 'PI', 'POWER', 'SQUARE', 'TAN', 'DATEFROMPARTS', 'SYSDATETIME', 'IIF', 'collect_set',
        'corr', 'covar_pop', 'covar_samp', 'histogram_numeric', 'ntile', 'percentile', 'percentile_approx', 'regr_avgx', 'dense_rank',
        'first_value', 'last_value', 'percent_rank', 'rank', 'row_number', 'isnotnull']
    
    keywords_up = [key for key, value in sqlparse.keywords.KEYWORDS.items()] + \
        [key for key, value in sqlparse.keywords.KEYWORDS_COMMON.items()] + \
        [key for key, value in sqlparse.keywords.KEYWORDS_HQL.items()] + \
        [key for key, value in sqlparse.keywords.KEYWORDS_MSACCESS.items()] + \
        [key for key, value in sqlparse.keywords.KEYWORDS_ORACLE.items()] + \
        [key for key, value in sqlparse.keywords.KEYWORDS_PLPGSQL.items()] + \
        [i.upper() for i in missing_words]
    keywords_low = [i.lower() for i in keywords_up]
    assert len(keywords_up) == len(keywords_low), 'len(keywords_up) != len(keywords_low)'
    
    keyword_mapping = dict(zip(keywords_low, keywords_up))
    pattern = re.compile(r'\b('+'|'.join(keyword_mapping)+r')\b')
    return pattern.sub(lambda m: keyword_mapping[m.group(0)], raw)

In [24]:
import logging

# Gets or creates a logger
#logger = logging.getLogger(__name__)  

# set log level
#logger.setLevel(logging.WARNING)

# define file handler and set formatter
#file_handler = logging.FileHandler('logfile.log')
#formatter    = logging.Formatter('%(asctime)s : %(levelname)s : %(name)s : %(message)s')
#file_handler.setFormatter(formatter)

# add file handler to logger
#logger.addHandler(file_handler)

# Logs
logger.debug('A debug message')
logger.info('An info message')
logger.warning('Something is not right.')
logger.error('A Major error has happened.')
logger.critical('Fatal error. Cannot continue')

WARNING:__main__:Something is not right.
ERROR:__main__:A Major error has happened.
CRITICAL:__main__:Fatal error. Cannot continue

In [9]:
d1 = functions_upper_case(d)
print(d1)

SELECT t.report_date ,
       t.gender,
       active,
       SUM(t.vol) AS sum_vol,
       COUNT(t.xsdf) AS dfv,
       AVG(sdf) AS fpl,
       SUM(total_days_per_month) OVER (PARTITION BY subs_id,
                                                    id
                                       ORDER BY subs_id,
                                                end_of_month ROWS BETWEEN 2 preceding AND CURRENT ROW) AS cum_sum_90d_1,
                                      active,
                                      SUM(t.vol) AS sum_vol,
                                      SUM(t.vol) AS sum_vol,
                                      SUM(t.vol) AS sum_vol,
                                      SUM(t.vol) AS sum_vol,
                                      SUM(t.vol) AS sum_vol,
                                      SUM(total_days_per_month) OVER (PARTITION BY subs_id
                                                                      ORDER BY subs_id,
                                                                               end_of_month ROWS BETWEEN 2 preceding AND CURRENT ROW) AS cum_sum_90d_2,
                                                                     active ,
                                                                     t.gender,
                                                                     SUM(t.vol) AS sum_vol,
                                                                     SUM(total_days_per_month) OVER (
                                                                                                     ORDER BY subs_id,
                                                                                                              end_of_month ROWS BETWEEN 2 preceding AND CURRENT ROW) AS cum_sum_90d_3,
                                                                                                    active ,
                                                                                                    t.gender
FROM active_data_users AS t
LEFT JOIN traffic AS trf ON
JOIN TABLE AS tab ON t.subs_id = tab.subs_id
OR t.report_date = tab.report_date1_
AND (t.subs_id = trf.subs_id
     OR t.id = trf.id)
LEFT JOIN bar ON t.num = bar.num
AND t.dt = bar.dt
AND (t.foo = tab.foo
     OR t.buzz = tab.buzz)
WHERE t> 3
  AND t=0
  AND (d>t.wef
       OR d>6
       OR t.vol = 49
       OR t.vol = 10
       OR y =13)
  AND f= 12
  OR t.vol = r.top
  AND i IN (1111,
            111222,
            2222222222,
            22222222444444444,
            4444444444444555555555555555555)
GROUP BY 1,
         2,
         3,
         4,
         t.report_date,
         age_group,
         t.gender;


SELECT *
FROM tab
JOIN buzz ON a=b
WHERE 1=1
  AND id != 111
  OR name IN (xyz,
              abc);


SELECT *
FROM tabl
FULL OUTER JOIN foo AS f ON name =name
WHERE t = 9;


SELECT t.var
FROM foo AS f
JOIN buzz AS b ON (f.id=b.id
                   AND f.dt=b.dt
                   AND xyz.sdfjhfd = c.asdnweionf)
WHERE 1= 1
  AND b.DATE >= '2022-10-01'
  AND t.name != 'NOT IN RU'

##### *Для большей совместимости не используйте ключевые слова специфичные только для конкретной СУБД (например, использование SEL в Teradata недопустимо).*

##### *Необходимо вставлять пробелы:* 
- *до и после знака равно, - pattern2*
- *после запятых (исключение если далее следует перенос строки), - pattern1*
- *до открывающихся и после закрывающихся скобок (не относится к применению функций). - pattern3*

1. список ошибок
2. список исправленных ошибок - удаленные пробелы
3. sub

##### *При использовании нескольких условий в операторе WHERE следует первым использовать запись 1 = 1 и далее с новой строки c отступом новое условие начинающегося с AND.*

In [10]:
def where_clause(raw):
    '''
    Правило должно следовать после правила о пробелах перед и после "="
    '''
    assert isinstance(raw, str), 'raw must be type of string'
    script_by_rows = [tup for tup in raw.split('\n')]
    wrong_items = []
    for row in script_by_rows:
        if 'WHERE' in row:
            if 'WHERE 1 = 1' not in row:
                wrong_items.append(row)
    
    for i in wrong_items:
        pattern = re.compile(f'{i}')
        right_values = i.replace('WHERE ', 'WHERE 1 = 1\n  AND ')
        raw = pattern.sub(right_values, raw)
    return raw

In [11]:
d3 = where_clause(d1)
print(d3)

SELECT t.report_date ,
       t.gender,
       active,
       SUM(t.vol) AS sum_vol,
       COUNT(t.xsdf) AS dfv,
       AVG(sdf) AS fpl,
       SUM(total_days_per_month) OVER (PARTITION BY subs_id,
                                                    id
                                       ORDER BY subs_id,
                                                end_of_month ROWS BETWEEN 2 preceding AND CURRENT ROW) AS cum_sum_90d_1,
                                      active,
                                      SUM(t.vol) AS sum_vol,
                                      SUM(t.vol) AS sum_vol,
                                      SUM(t.vol) AS sum_vol,
                                      SUM(t.vol) AS sum_vol,
                                      SUM(t.vol) AS sum_vol,
                                      SUM(total_days_per_month) OVER (PARTITION BY subs_id
                                                                      ORDER BY subs_id,
                                                                               end_of_month ROWS BETWEEN 2 preceding AND CURRENT ROW) AS cum_sum_90d_2,
                                                                     active ,
                                                                     t.gender,
                                                                     SUM(t.vol) AS sum_vol,
                                                                     SUM(total_days_per_month) OVER (
                                                                                                     ORDER BY subs_id,
                                                                                                              end_of_month ROWS BETWEEN 2 preceding AND CURRENT ROW) AS cum_sum_90d_3,
                                                                                                    active ,
                                                                                                    t.gender
FROM active_data_users AS t
LEFT JOIN traffic AS trf ON
JOIN TABLE AS tab ON t.subs_id = tab.subs_id
OR t.report_date = tab.report_date1_
AND (t.subs_id = trf.subs_id
     OR t.id = trf.id)
LEFT JOIN bar ON t.num = bar.num
AND t.dt = bar.dt
AND (t.foo = tab.foo
     OR t.buzz = tab.buzz)
WHERE 1 = 1
  AND t> 3
  AND t=0
  AND (d>t.wef
       OR d>6
       OR t.vol = 49
       OR t.vol = 10
       OR y =13)
  AND f= 12
  OR t.vol = r.top
  AND i IN (1111,
            111222,
            2222222222,
            22222222444444444,
            4444444444444555555555555555555)
GROUP BY 1,
         2,
         3,
         4,
         t.report_date,
         age_group,
         t.gender;


SELECT *
FROM tab
JOIN buzz ON a=b
WHERE 1 = 1
  AND 1=1
  AND id != 111
  OR name IN (xyz,
              abc);


SELECT *
FROM tabl
FULL OUTER JOIN foo AS f ON name =name
WHERE 1 = 1
  AND t = 9;


SELECT t.var
FROM foo AS f
JOIN buzz AS b ON (f.id=b.id
                   AND f.dt=b.dt
                   AND xyz.sdfjhfd = c.asdnweionf)
WHERE 1 = 1
  AND 1= 1
  AND b.DATE >= '2022-10-01'
  AND t.name != 'NOT IN RU'

##### *Условие при использовании JOIN необходимо указывать с помощью ключевого слова ON. Если условие только одно, то допускается написание наравне с оператором JOIN, если условий более одного, то их необходимо перенести на новую строку (совместно с ON) и использовать скобки.*

In [ ]:
pat = re.compile(r"JOIN(\s+\w+_?\.*\w+_?\s+(AS\s+|as\s+)?(\w*)?\s+(ON|on)\s+\w+_?\.*\w+_?\s+\=\s+\w+_?\.*\w+_?)\s+(AND|and\s+\w+_?\.*\w+_?\s+\=\s+\w+_?\.*\w+_?)")
patt = re.compile(r"JOIN.*ON.*\nAND.*\n")

In [ ]:
bool(re.search(pat, d3))

In [ ]:
bool(re.search(patt, d3))

In [12]:
def join_rule(raw):
    assert isinstance(raw, str), 'raw must be type of string'
    
    script_by_rows = [tup for tup in raw.split('\n')]
    
    join_keywords = ['JOIN', 'LEFT', 'RIGHT', 'INNER', 'FULL', 'OUTER', 'CROSS']
    join_end = ['WHERE', 'ORDER BY', 'GROUP BY'] 
    
    join_groups = []
    counter = 0
    for ind in range(0, len(script_by_rows)-1):
        
        # если строка начинается с join, то запоминаем ее индекс
        if script_by_rows[ind].startswith(tuple(join_keywords)) and counter == 0:
            counter = ind
            # если следующая строка так же join, то записываем текущую строку и обнуляем счетчик
            if script_by_rows[ind+1].startswith(tuple(join_keywords)):
                join_groups.append(script_by_rows[counter:ind+1])
                counter = 0
                continue
        
        # если следующая строка join и счетчик не 0, то записываем диапазон строк, счетчик = 0
        if script_by_rows[ind+1].startswith(tuple(join_keywords)) and counter != 0:
            join_groups.append(script_by_rows[counter:ind+1])
            counter = 0
            
        # если впереди другие операторы (не join) и счетчик не равен 0 (значит join заканчивается), то записываем диапазон
        if script_by_rows[ind+1].startswith(tuple(join_end)) and counter != 0:
            join_groups.append(script_by_rows[counter:ind+1])
            counter = 0
    
    for group in join_groups:
        if len(group) > 1:
            #print(group)
            for ind in range(0, len(group)):
                try:
                    if 'ON (' in group[ind]:
                        count_spaces = 4 * ' '
                        re_val = group[ind].replace('(', '\(')
                        pattern = re.compile(f'{re_val}')
                        right_val = group[ind].replace('ON (', '\n' + count_spaces + 'ON (\n' + count_spaces * 2)
                        raw = pattern.sub(right_val, raw)
                        
                        for i in range(1, len(group)):
                            count_spaces = 4 * ' '
                            if ')' in group[i]:
                                re_val = group[i].replace(')', '\)')
                                pattern = re.compile(f'{re_val}')
                                right_val = count_spaces * 2 + group[i].strip().replace(')', '\n' + count_spaces + ')')
                            else:
                                re_val = group[i]#.strip()
                                pattern = re.compile(f'{re_val}')
                                right_val = count_spaces * 2 + group[i].strip()
                            raw = pattern.sub(right_val, raw)
                    else:
                        if '(' in group[ind]:
                            re_val = group[ind].replace('(', '\(')
                            pattern = re.compile(f'{re_val}')
                        elif ')' in group[ind]:
                            re_val = group[ind].replace(')', '\)')
                            pattern = re.compile(f'{re_val}')
                        else:
                            pattern = re.compile(f'{group[ind]}')
                        
                        if group[ind].startswith(tuple(join_keywords)):
                            count_spaces = 4 * ' '
                            right_values1 = group[ind].replace('ON', '\n' + count_spaces + 'ON (\n' + count_spaces)
                            raw = pattern.sub(right_values1, raw)
                        
                        if 'AND ' in group[ind] or 'OR ' in group[ind]:
                            if ind == len(group) - 1:
                                if 'AND ' in group[ind]:
                                    count_space = 4 * ' '
                                    right_val = group[ind].replace('AND', count_space + 'AND')
                                    right_val = right_val + '\n' + count_space + ')'
                                    raw = pattern.sub(right_val, raw)
                                if 'OR ' in group[ind]:
                                    count_space = 4 * ' '
                                    right_val = group[ind].replace('OR', count_space + 'OR')
                                    right_val = right_val + '\n' + count_space + ')'
                                    raw = pattern.sub(right_val, raw)
                            else:
                                if 'AND' in group[ind]:
                                    count_space = 4 * ' '
                                    right_val = group[ind].replace('AND', count_space + 'AND')
                                    raw = pattern.sub(right_val, raw)
                                if 'OR' in group[ind]:
                                    count_space = 4 * ' '
                                    right_val = group[ind].replace('OR', count_space + 'OR')
                                    raw = pattern.sub(right_val, raw)
                except:
                    raise SQLParserError("Something went wrong in " '{!r}'.format(group[ind]))
    return raw

In [13]:
d4 = join_rule(d3)
print(d4)

SELECT t.report_date ,
       t.gender,
       active,
       SUM(t.vol) AS sum_vol,
       COUNT(t.xsdf) AS dfv,
       AVG(sdf) AS fpl,
       SUM(total_days_per_month) OVER (PARTITION BY subs_id,
                                                    id
                                       ORDER BY subs_id,
                                                end_of_month ROWS BETWEEN 2 preceding AND CURRENT ROW) AS cum_sum_90d_1,
                                      active,
                                      SUM(t.vol) AS sum_vol,
                                      SUM(t.vol) AS sum_vol,
                                      SUM(t.vol) AS sum_vol,
                                      SUM(t.vol) AS sum_vol,
                                      SUM(t.vol) AS sum_vol,
                                      SUM(total_days_per_month) OVER (PARTITION BY subs_id
                                                                      ORDER BY subs_id,
                                                                               end_of_month ROWS BETWEEN 2 preceding AND CURRENT ROW) AS cum_sum_90d_2,
                                                                     active ,
                                                                     t.gender,
                                                                     SUM(t.vol) AS sum_vol,
                                                                     SUM(total_days_per_month) OVER (
                                                                                                     ORDER BY subs_id,
                                                                                                              end_of_month ROWS BETWEEN 2 preceding AND CURRENT ROW) AS cum_sum_90d_3,
                                                                                                    active ,
                                                                                                    t.gender
FROM active_data_users AS t
LEFT JOIN traffic AS trf ON
JOIN TABLE AS tab
    ON (
     t.subs_id = tab.subs_id
    OR t.report_date = tab.report_date1_
    AND (t.subs_id = trf.subs_id
         OR t.id = trf.id)
    )
LEFT JOIN bar
    ON (
     t.num = bar.num
    AND t.dt = bar.dt
    AND (t.foo = tab.foo
         OR t.buzz = tab.buzz)
    )
WHERE 1 = 1
  AND t> 3
  AND t=0
  AND (d>t.wef
       OR d>6
       OR t.vol = 49
       OR t.vol = 10
       OR y =13)
  AND f= 12
  OR t.vol = r.top
  AND i IN (1111,
            111222,
            2222222222,
            22222222444444444,
            4444444444444555555555555555555)
GROUP BY 1,
         2,
         3,
         4,
         t.report_date,
         age_group,
         t.gender;


SELECT *
FROM tab
JOIN buzz ON a=b
WHERE 1 = 1
  AND 1=1
  AND id != 111
  OR name IN (xyz,
              abc);


SELECT *
FROM tabl
FULL OUTER JOIN foo AS f ON name =name
WHERE 1 = 1
  AND t = 9;


SELECT t.var
FROM foo AS f
JOIN buzz AS b
    ON (
        f.id=b.id
        AND f.dt=b.dt
        AND xyz.sdfjhfd = c.asdnweionf
    )
WHERE 1 = 1
  AND 1= 1
  AND b.DATE >= '2022-10-01'
  AND t.name != 'NOT IN RU'

In [14]:
def window_functions_sub(raw):
    '''
    Функция исправляет отступы в оконных функциях. Количество отступов можно регулировать. 
    '''
    assert isinstance(raw, str), 'Аргумент raw должен быть типа string'
    
    script_by_rows = [tup for tup in raw.split('\n')]
    
    wind_keywords = ['SELECT', 'SELECT']
    wind_end = ['FROM']
    
    wind_groups = []
    counter = 0
    find_window = []
    # разметка скрипта, выбор только тех частей, где могут быть оконные функции
    for ind in range(0, len(script_by_rows)-1):
        
        # если строка начинается с as_keywords, то запоминаем ее индекс
        if script_by_rows[ind].startswith(tuple(wind_keywords)) and counter == 0:
            counter = ind
            
        # если впереди другие операторы (не as_keywords) и счетчик не равен 0, то записываем диапазон
        if script_by_rows[ind+1].startswith(tuple(wind_end)) and counter != 0:
            wind_groups.append(script_by_rows[counter:ind+1])
            counter = 0
    
    # в select ищем оконную функцию по ключевой комбинации ") OVER ("
    for group in wind_groups:
        if len(group) > 1:
            #print(group)
            counter = 0
            for ind in range(0, len(group)):
                if ') OVER (' in group[ind]:
                    counter = ind
                    find_window = group[counter:]
                    #print(d)
                    break
    only_window = []
    counter = 0
    for j in range(0, len(find_window)-1):
        #print(d[j])
        if ') OVER (' in find_window[j+1]:
            only_window.append(find_window[counter:j+1])
            counter = j+1
            #print(group[ind])
        if j == len(find_window) - 2:
            #print(d[j+1])
            only_window.append(find_window[counter:j+2])
    
    # отступы
    func_indent = ' ' * 7
    part_indent = ' ' * 52
    main_sort_indent = ' ' * 39
    post_sort_indent = ' ' * 48
    other_fields_indent = ' ' * 7
    
    
    # функция под замену скобок в паттернах
    for wind in only_window:
        #print(wind)
        as_flag = 0
        order_flag = 0
        for ind in range(0, len(wind)):
            #print(f'wind: {ind} :', wind[ind])
            if ')' in wind[ind] or '(' in wind[ind]:
                re_val = wind[ind].replace(')', '\)').replace('(', '\(')
                pattern = re.compile(f'{re_val}')
                right_val = wind[ind].strip()
            else:
                re_val = wind[ind]
                pattern = re.compile(f'{re_val}')
                right_val = wind[ind].strip()

            if ') OVER (' in wind[ind]:
                re_val = wind[ind].replace(')', '\)').replace('(', '\(')
                pattern = re.compile(f'{re_val}')
                right_val = func_indent + wind[ind].strip()
                raw = pattern.sub(right_val, raw)
            
            if 'ORDER BY' in wind[ind]:
                re_val = wind[ind].replace(')', '\)').replace('(', '\(')
                pattern = re.compile(f'{re_val}')
                right_val = main_sort_indent + wind[ind].strip()
                #print(right_val)
                raw = pattern.sub(right_val, raw, 1)
                order_flag = 1
            
            if as_flag == 1:
                re_val = wind[ind].replace(')', '\)').replace('(', '\(')
                pattern = re.compile(f'{re_val}')
                right_val = other_fields_indent + wind[ind].strip()
                #print(right_val)
                raw = pattern.sub(right_val, raw, 1)
            
            if order_flag == 1 and ') AS ' in wind[ind] and '(' not in wind[ind]: # есть ли функции в этом выражении
                re_val = wind[ind].replace(')', '\)').replace('(', '\(')
                pattern = re.compile(f'{re_val}')
                right_val = post_sort_indent + wind[ind].strip()
                #print(right_val)
                raw = pattern.sub(right_val, raw, 1)
                as_flag = 1
    return raw

In [15]:
print(window_functions_sub(d4))
#window_functions_sub(d4)

SELECT t.report_date ,
       t.gender,
       active,
       SUM(t.vol) AS sum_vol,
       COUNT(t.xsdf) AS dfv,
       AVG(sdf) AS fpl,
       SUM(total_days_per_month) OVER (PARTITION BY subs_id,
                                                    id
                                       ORDER BY subs_id,
                                                end_of_month ROWS BETWEEN 2 preceding AND CURRENT ROW) AS cum_sum_90d_1,
       active,
       SUM(t.vol) AS sum_vol,
       SUM(t.vol) AS sum_vol,
       SUM(t.vol) AS sum_vol,
       SUM(t.vol) AS sum_vol,
       SUM(t.vol) AS sum_vol,
       SUM(total_days_per_month) OVER (PARTITION BY subs_id
                                       ORDER BY subs_id,
                                                end_of_month ROWS BETWEEN 2 preceding AND CURRENT ROW) AS cum_sum_90d_2,
       active ,
       t.gender,
       SUM(t.vol) AS sum_vol,
       SUM(total_days_per_month) OVER (
                                       ORDER BY subs_id,
                                                end_of_month ROWS BETWEEN 2 preceding AND CURRENT ROW) AS cum_sum_90d_3,
       active ,
       t.gender
FROM active_data_users AS t
LEFT JOIN traffic AS trf ON
JOIN TABLE AS tab
    ON (
     t.subs_id = tab.subs_id
    OR t.report_date = tab.report_date1_
    AND (t.subs_id = trf.subs_id
         OR t.id = trf.id)
    )
LEFT JOIN bar
    ON (
     t.num = bar.num
    AND t.dt = bar.dt
    AND (t.foo = tab.foo
         OR t.buzz = tab.buzz)
    )
WHERE 1 = 1
  AND t> 3
  AND t=0
  AND (d>t.wef
       OR d>6
       OR t.vol = 49
       OR t.vol = 10
       OR y =13)
  AND f= 12
  OR t.vol = r.top
  AND i IN (1111,
            111222,
            2222222222,
            22222222444444444,
            4444444444444555555555555555555)
GROUP BY 1,
         2,
         3,
         4,
         t.report_date,
         age_group,
         t.gender;


SELECT *
FROM tab
JOIN buzz ON a=b
WHERE 1 = 1
  AND 1=1
  AND id != 111
  OR name IN (xyz,
              abc);


SELECT *
FROM tabl
FULL OUTER JOIN foo AS f ON name =name
WHERE 1 = 1
  AND t = 9;


SELECT t.var
FROM foo AS f
JOIN buzz AS b
    ON (
        f.id=b.id
        AND f.dt=b.dt
        AND xyz.sdfjhfd = c.asdnweionf
    )
WHERE 1 = 1
  AND 1= 1
  AND b.DATE >= '2022-10-01'
  AND t.name != 'NOT IN RU'

In [ ]:
def create_table_sub(raw):
    '''
    Функция исправляет отступы при создании таблиц в терадате. 
    '''
    assert isinstance(raw, str), 'Аргумент raw должен быть типа string'
    
    script_by_rows = [tup for tup in raw.split('\n')]
    
    create_keywords = ['CREATE multiset TABLE', 'CREATE multiset VOLATILE TABLE', 'CREATE MULTISET VOLATILE TABLE']
    create_end = ['INSERT', 'CREATE', ]
    
    create_groups = []
    counter = 0
    
    for ind in range(0, len(script_by_rows)):
        
        # если строка начинается с create_keywords, то запоминаем ее индекс
        if script_by_rows[ind].startswith(tuple(create_keywords)) and counter == 0:
            counter = ind
            
        # если впереди другие операторы (не create_keywords) и счетчик не равен 0, то записываем диапазон
        #if script_by_rows[ind+1].startswith(tuple(create_end)) and counter != 0:
        if ';' in script_by_rows[ind] and counter != 0:
            create_groups.append(script_by_rows[counter:ind+1])
            counter = 0
    
    spaces = 4 * ' '
    for group in create_groups:
            for ind in range(0, len(group)-1):
                if len(group[ind]) > 0:
                    re_val = group[ind].replace(')', '\)').replace('(', '\(')
                    pattern = re.compile(f'{re_val}')
                    
                    if '(' in group[ind] and group[ind].startswith(tuple(create_keywords)):
                        right_val = group[ind].strip().replace('(', '(\n' + spaces)
                        raw = pattern.sub(right_val, raw, 1)
                        #print(row)
                        continue
                    if '))' in group[ind+1] and (';' in group[ind+1] or 'ON' in group[ind]):
                        #print(row)
                        right_val = spaces + group[ind+1].strip().replace(')) ', ')\n' + spaces + ')\n')
                        raw = pattern.sub(right_val, raw, 1)
                        continue
                        #print(row)
                    right_val = spaces + group[ind].strip()
                    raw = pattern.sub(right_val, raw, 1)
    return raw

In [ ]:
print(create_table_sub(d4))
#create_table_sub(d4)

In [95]:
print(create_table_sub(d4))

CREATE multiset TABLE prd_dm.mc_forecast_return_revenue (
    report_date DATE FORMAT 'YY/MM/DD',
    return_current_month_date DECIMAL(18, 6),
    return_current_month_last_year_date DECIMAL(18, 6),
    return_current_month_last_year DECIMAL(18, 6),
    return_current_year DECIMAL(18, 6),
    return_last_year_last_date DECIMAL(18, 6),
    return_last_year DECIMAL(18, 6),
    revenue_current_month_date DECIMAL(18, 6),
    revenue_current_month_last_year_date DECIMAL(18, 6),
    revenue_current_month_last_year DECIMAL(18, 6),
    revenue_current_year DECIMAL(18, 6),
    revenue_last_year_last_date DECIMAL(18, 6),
    revenue_last_year DECIMAL(18, 6)
    )
PRIMARY INDEX (report_date);


INSERT INTO prd_dm.mc_forecast_return_revenue
SELECT *
FROM uat_dm.mc_forecast_return_revenue;


CREATE multiset TABLE amount_per_day_usage (
    first_day_of_month DATE FORMAT 'YY/MM/DD',
                                                                           report_date DATE FORMAT 'YY/MM/DD',
    subs_id DECIMAL(12, 0),
    bsegment VARCHAR(20) CHARACTER
                                            SET unicode casespecific,
    rated_amount_sum DECIMAL(18, 6)) PRIMARY INDEX (subs_id) ON
COMMIT PRESERVE ROWS;

In [74]:
print(raw2)

CREATE MULTISET TABLE PRD_DM.MC_FORECAST_RETURN_REVENUE
    (
    REPORT_DATE DATE Format 'YY/MM/DD',
    RETURN_CURRENT_MONTH_DATE DECIMAL(18,6),
    RETURN_CURRENT_MONTH_LAST_YEAR_DATE DECIMAL(18,6),
    RETURN_CURRENT_MONTH_LAST_YEAR DECIMAL(18,6),
    RETURN_CURRENT_YEAR DECIMAL(18,6),
    RETURN_LAST_YEAR_LAST_DATE DECIMAL(18,6),
    RETURN_LAST_YEAR DECIMAL(18,6),
    REVENUE_CURRENT_MONTH_DATE DECIMAL(18,6),
    REVENUE_CURRENT_MONTH_LAST_YEAR_DATE DECIMAL(18,6),
    REVENUE_CURRENT_MONTH_LAST_YEAR DECIMAL(18,6),
    REVENUE_CURRENT_YEAR DECIMAL(18,6),
    REVENUE_LAST_YEAR_LAST_DATE DECIMAL(18,6),
    REVENUE_LAST_YEAR DECIMAL(18,6)
	)
PRIMARY INDEX ( REPORT_DATE );

INSERT INTO PRD_DM.MC_FORECAST_RETURN_REVENUE
SELECT * FROM UAT_DM.MC_FORECAST_RETURN_REVENUE;

CREATE MULTISET TABLE amount_per_day_usage
     (
      first_day_of_month DATE Format 'YY/MM/DD',
      REPORT_DATE DATE Format 'YY/MM/DD',
      SUBS_ID DECIMAL(12,0),
      BSEGMENT VARCHAR(20) CHARACTER SET Unicode CaseSpecific,
      rated_amount_sum DECIMAL(18,6)
	  )
PRIMARY INDEX ( SUBS_ID )
ON COMMIT PRESERVE ROWS;

##### *Если внутри условия AND используется условие OR, то следует писать каждое с новой строки с дополнительным отступом, замыкающую скобку писать наравне с открывающим оператором AND.*
Нужно рассмотреть 2 случая:
- использование внутри JOIN
- использование внутри WHERE

##### WHERE case

In [ ]:
def where_and_or_rule(raw):
    assert isinstance(raw, str), 'raw must be type of string'
    
    script_by_rows = [tup for tup in raw.split('\n')]#''.join((raw, '\n\n')).split('\n')] тест конструкции
    
    where_keywords = ['WHERE', 'WHERE'] # в tuple нужно передать больше одного значения
    where_end_group_by = ['GROUP BY', 'ORDER BY']    
    
    where_groups = []
    counter = 0
    for ind in range(0, len(script_by_rows)-1):
        
        # если строка начинается с where, то запоминаем ее индекс
        if script_by_rows[ind].startswith(tuple(where_keywords)):
            counter = ind
            continue
        
        # если строка является концом выражения - впереди group by - то записываем группу и обнуляем счетчик
        if script_by_rows[ind].startswith(tuple(where_end_group_by)):
            where_groups.append(script_by_rows[counter:ind])
            counter = 0
            continue
        
        # если впереди 2 каретки и счетчик не равен 0 (значит запрос заканчивается на выражении where), то записываем группу
        if (len(script_by_rows[ind]) + len(script_by_rows[ind+1]) == 0) and counter != 0:
            where_groups.append(script_by_rows[counter:ind])
            counter = 0
    
    for group in where_groups:
        for ind in range(1, len(group)):
            if '(' in group[ind]:
                re_val = group[ind].replace('(', '\(')
                pattern = re.compile(f'{re_val}')
                count_spaces = len(group[ind+1]) - len(group[ind+1].lstrip())
                right_val = group[ind].replace('(', '(\n' + ' ' * count_spaces)
                raw = pattern.sub(right_val, raw)
            if ')' in group[ind]:
                re_val = group[ind].replace(')', '\)')
                pattern = re.compile(f'{re_val}')
                count_spaces = len(group[ind-1]) - len(group[ind-1].lstrip())
                right_val = group[ind].replace(')', '\n' + ' ' * count_spaces + ')')
                raw = pattern.sub(right_val, raw)
    return raw

In [ ]:
d5 = where_and_or_rule(d4)
print(d5)

JOIN case

In [ ]:
def join_and_or_rule(raw):
    assert isinstance(raw, str), 'raw must be type of string'
    
    script_by_rows = [tup for tup in raw.split('\n')]#''.join((raw, '\n\n')).split('\n')]
    
    join_keywords = ['JOIN', 'LEFT', 'RIGHT', 'INNER', 'FULL', 'OUTER', 'CROSS']
    join_end = ['WHERE', 'ORDER BY', 'GROUP BY']    
    
    join_groups = []
    counter = 0
    for ind in range(0, len(script_by_rows)-1):
        
        # если строка начинается с join, то запоминаем ее индекс
        if script_by_rows[ind].startswith(tuple(join_keywords)) and counter == 0:
            counter = ind
            # если следующая строка так же join, то записываем текущую строку и обнуляем счетчик
            if script_by_rows[ind+1].startswith(tuple(join_keywords)):
                join_groups.append(script_by_rows[counter:ind+1])
                counter = 0
                continue
        
        # если следующая строка join и счетчик не 0, то записываем диапазон строк, счетчик = 0
        if script_by_rows[ind+1].startswith(tuple(join_keywords)) and counter != 0:
            join_groups.append(script_by_rows[counter:ind+1])
            counter = 0
            
        # если впереди другие операторы (не join) и счетчик не равен 0 (значит join заканчивается), то записываем диапазон
        if script_by_rows[ind+1].startswith(tuple(join_end)) and counter != 0:
            join_groups.append(script_by_rows[counter:ind+1])
            counter = 0
    
    for group in join_groups:
        for ind in range(0, len(group)):
            if '(' in group[ind] and ('AND' in group[ind] or 'OR' in group[ind]):
                re_val = group[ind].replace('(', '\(')
                pattern = re.compile(f'{re_val}')
                #count_spaces = len(group[ind+1]) - len(group[ind+1].lstrip())
                count_spaces = 8 * ' '
                right_val = group[ind].replace('(', '(\n' + count_spaces)
                raw = pattern.sub(right_val, raw)
            if ')' in group[ind] and ('AND' in group[ind] or 'OR' in group[ind]):
                re_val = group[ind].replace(')', '\)')
                pattern = re.compile(f'{re_val}')
                #count_spaces = len(group[ind-1]) - len(group[ind-1].lstrip())
                count_spaces = 8 * ' '
                right_val = group[ind].replace(')', '\n' + count_spaces + ')')
                raw = pattern.sub(right_val, raw)
    return raw

In [ ]:
d6 = join_and_or_rule(d5)
print(d6)

##### *Для указания нового наименования таблиц/столбцов необходимо явно прописывать ключевое слово AS. AS необходимо обязательно применять при использовании функций.*
- AS может быть в наименовании столбца в SELECT:
    - В SELECT не может быть пробелов, если там нет AS или функции
    - При использовании функции AS обязателен
- AS может быть в FROM:
    - AS должен быть, если в запросе есть JOIN
- AS должен быть в JOIN
    - 1 JOIN == 1 AS

In [ ]:
def as_rule(raw):
    assert isinstance(raw, str), 'raw must be type of string'
    
    missing_words = [
        'UCASE', 'LCASE', 'MID', 'ROUND', 'FORMAT', 'ASCII', 'datalength', 'ltrim', 'patindex', 'stuff', 'ceiling', 'rand',
        'datediff', 'datename', 'datepart', 'getdate', 'getutcdate', 'try_cast', 'try_convert', 'isdate', 'isnumeric', 'lag',
        'lead', 'sessionproperty', 'user_name', 'REPLICATE', 'REVERSE', 'SOUNDEX', 'ACOS', 'ASIN', 'ATAN', 'ATN2', 'COS', 'COT',
        'DEGREES', 'EXP', 'LOG', 'LOG10', 'PI', 'POWER', 'SQUARE', 'TAN', 'DATEFROMPARTS', 'SYSDATETIME', 'IIF', 'collect_set',
        'corr', 'covar_pop', 'covar_samp', 'histogram_numeric', 'ntile', 'percentile', 'percentile_approx', 'regr_avgx', 'dense_rank',
        'first_value', 'last_value', 'percent_rank', 'rank', 'row_number', 'isnotnull']
    
    keywords_up = [key for key, value in sqlparse.keywords.KEYWORDS.items()] + \
        [key for key, value in sqlparse.keywords.KEYWORDS_COMMON.items()] + \
        [key for key, value in sqlparse.keywords.KEYWORDS_HQL.items()] + \
        [key for key, value in sqlparse.keywords.KEYWORDS_MSACCESS.items()] + \
        [key for key, value in sqlparse.keywords.KEYWORDS_ORACLE.items()] + \
        [key for key, value in sqlparse.keywords.KEYWORDS_PLPGSQL.items()] + \
        [i.upper() for i in missing_words]
    
    
    script_by_rows = [tup for tup in raw.split('\n')]
    
    as_keywords = ['SELECT', 'FROM', 'JOIN', 'LEFT', 'RIGHT', 'INNER', 'FULL', 'OUTER', 'CROSS']
    as_end = ['WHERE', 'ORDER BY', 'GROUP BY', 'HAVING']
    as_positions = ['FROM', 'JOIN', 'LEFT', 'RIGHT', 'INNER', 'FULL', 'OUTER', 'CROSS']
    
    as_groups = []
    counter = 0
    
    # разметка скрипта, выбор только тех частей, где может быть выражение AS
    for ind in range(0, len(script_by_rows)-1):
        
        # если строка начинается с as_keywords, то запоминаем ее индекс
        if script_by_rows[ind].startswith(tuple(as_keywords)) and counter == 0:
            counter = ind
            # если следующая строка так же as_keywords - записываем текущую строку и обнуляем счетчик
            if script_by_rows[ind+1].startswith(tuple(as_keywords)):
                as_groups.append(script_by_rows[counter:ind+1])
                counter = 0
                continue
        
        # если следующая начинается с as_keywords, и счетчик не 0, то записываем диапазон строк, счетчик = 0
        if script_by_rows[ind+1].startswith(tuple(as_keywords)) and counter != 0:
            as_groups.append(script_by_rows[counter:ind+1])
            counter = 0
            
        # если впереди другие операторы (не as_keywords) и счетчик не равен 0, то записываем диапазон
        if script_by_rows[ind+1].startswith(tuple(as_end)) and counter != 0:
            as_groups.append(script_by_rows[counter:ind+1])
            counter = 0

    # выделение строк запросов для определения кол-ва join-ов в запросе и их принадлежности к конкретному запросу
    # опираемся на ключевое слова SELECT, как разграничитель запросов
    cnt = 0
    select_group = []
    for group_index in range(1, len(as_groups)):
        for m in as_groups[group_index-1]:
            if 'SELECT' in m and cnt == 0:
                cnt = group_index            
        for n in as_groups[group_index]:
            if 'SELECT' in n and cnt >= 1:
                select_group.append(as_groups[cnt-1:group_index])
                cnt = 0
        if group_index == len(as_groups)-1 and cnt != 0:
            select_group.append(as_groups[cnt-1:group_index+1])
    
    # реализация правил
    functions = [i.upper() for i in funcs.all_func]
    for query in select_group:
        #print(query)
        for row in range(0, len(query)):
            #print(query[row])
            for keyword in query[row]:
                string = keyword.strip()
                #print(string)
                if string.startswith(tuple(functions)) and 'AS' not in string:
                    raise SQLParserError("CodeStyleError: Invalid code style in the 'AS' statement: "
                                        '{!r}'.format(string))
                if string.startswith(tuple(as_positions)) and len(query) > 2 and 'AS' not in string:
                    raise SQLParserError("CodeStyleError: Invalid code style in the 'AS' statement: "
                                        '{!r}'.format(string))
    
    return

In [ ]:
as_rule(d6)

##### *Если в запросе участвуют несколько таблиц, то при указании наименования столбца необходимо явно указывать какой таблице принадлежит столбец.*
- В запросе участвуют несколько таблиц, когда присутствует join
    - Если есть join, то в каждой строчке запроса должна быть точка, кроме тех строк, где только знаки пунктуации, ключевые слова, конструкции IN, WHERE 1=1

In [318]:
def column_name_rule(raw):
    assert isinstance(raw, str), 'raw must be type of string'
    
    script_by_rows = [tup for tup in raw.split('\n')]
    
    point_keywords = ['SELECT', 'FROM', 'JOIN', 'LEFT', 'RIGHT', 'INNER', 'FULL', 'OUTER', 'CROSS', 'WHERE', 'ORDER BY', 'GROUP BY', 'HAVING']
    point_end = ['WHERE', 'ORDER BY', 'GROUP BY', 'HAVING']
    exclude_point_positions = ['FROM', 'JOIN', 'LEFT', 'RIGHT', 'INNER', 'FULL', 'OUTER', 'CROSS']
    
    point_groups = []
    counter = 0
    
    # разметка скрипта, выбор только тех частей, где может быть выражение AS
    for ind in range(0, len(script_by_rows)-1):
        
        # если строка начинается с point_keywords, то запоминаем ее индекс
        if script_by_rows[ind].startswith(tuple(point_keywords)) and counter == 0:
            counter = ind
            # если следующая строка так же point_keywords - записываем текущую строку и обнуляем счетчик
            if script_by_rows[ind+1].startswith(tuple(point_keywords)):
                point_groups.append(script_by_rows[counter:ind+1])
                counter = 0
                #continue
        
        # если следующая начинается с point_keywords, и счетчик не 0, то записываем диапазон строк, счетчик = 0
        if script_by_rows[ind+1].startswith(tuple(point_keywords)) and counter != 0:
            point_groups.append(script_by_rows[counter:ind+1])
            counter = 0

    # выделение строк запросов для определения кол-ва join-ов в запросе и их принадлежности к конкретному запросу
    # опираемся на ключевое слова SELECT, как разграничитель запросов
    cnt = 0
    select_group = []
    for group_index in range(1, len(point_groups)):
        for m in point_groups[group_index-1]:
            if 'SELECT' in m and cnt == 0:
                cnt = group_index            
        for n in point_groups[group_index]:
            if 'SELECT' in n and cnt >= 1:
                select_group.append(point_groups[cnt-1:group_index])
                cnt = 0
        if group_index == len(point_groups)-1 and cnt != 0:
            select_group.append(point_groups[cnt-1:group_index+1])
    
    # выделяем выражения IN, чтобы исключить их из проверки на наличие точки
    in_stmnt = []
    in_cnt = 0
    for query in select_group:
        if len(query) > 2:
            for row in range(0, len(query)):
                for keyword_ind in range(0, len(query[row])):
                    if ' IN (' in query[row][keyword_ind].strip():
                        in_cnt = keyword_ind
                    if ')' in query[row][keyword_ind].strip() and in_cnt != 0:
                        in_stmnt.append(query[row][in_cnt:keyword_ind+1])
                        in_cnt = 0

    #print(select_group)
    exceptions = ['ON (', ')', 'WHERE', 'AND (', 'OR (', 'WHERE 1 = 1']
    to_warnings = []
    for query in select_group:
        #print(query)
        if len(query) > 2:
            for row in range(0, len(query)):
                #print(query[row])
                for keyword in query[row]:
                    no_spaces_string = keyword.strip()
                    if no_spaces_string not in exceptions \
                        and not no_spaces_string.startswith(tuple(exclude_point_positions)) \
                        and ' *' not in no_spaces_string:
                        if '.' not in no_spaces_string and keyword not in tuple(sum(in_stmnt, [])) and len(no_spaces_string) > 0:
                            to_warnings.append(no_spaces_string)
                                
    if len(to_warnings) > 0:
        return warnings.warn(f'Please, check this rows for table alias {to_warnings}', category=SyntaxWarning)

In [319]:
column_name_rule(d6)

SyntaxWarning: Please, check this rows for table alias ['active,', 'AVG(sdf) AS fpl', 'AND t > 3', 'AND t = 0', 'OR d > 6', 'OR y = 13', 'AND f = 12', 'GROUP BY 1,', '2,', '3,', '4,', 'age_group,', 'AND id != 111', 'AND t = 9;']

In [323]:
import warnings

print('Hello')
warnings.warn('I am a warning!')
print('Goodbye')

Hello
Goodbye

In [ ]:
warnings.simplefilter('error')
warnings.warn('Yikes!')

In [317]:
import warnings

warnings.simplefilter('ignore', UserWarning)
warnings.simplefilter('error', DeprecationWarning)

warnings.warn('bad news!')  # ignored

warnings.warn('very bad news', category=SyntaxWarning)

SyntaxWarning: very bad news

In [ ]:
function_dict = {
    'agg_func': [i.upper() for i in agg_func],
    'analytic_func': [i.upper() for i in analytic_func],
    'collect_func': [i.upper() for i in collect_func],
    'compl_func': [i.upper() for i in compl_func],
    'conditional_func': [i.upper() for i in conditional_func],
    'date_func': [i.upper() for i in date_func],
    'math_func': [i.upper() for i in math_func],
    'misc_func': [i.upper() for i in misc_func],
    'string_func': [i.upper() for i in string_func],
    'data_mask_func': [i.upper() for i in data_mask_func],
    'table_gen_func': [i.upper() for i in table_gen_func],
    'type_conv_func': [i.upper() for i in type_conv_func]
}

In [ ]:
with open("test_string.txt","w+") as f:
    f.writelines(test_string)