In [1]:
from SQLParser import *

In [8]:
sql = HandlerSQL()
raw = '''
CREATE MULTISET TABLE UAT_DM.IY_AD_HOC2 AS
(SELECT REPORT_DATE
		,REPORT_MONTH
		,SUBS_ID
		,Sum(DATA_VOLUME_BUCKET + DATA_VOLUME_NO_BUCKET)/ (1024**3) AS total_vol_GB
		,(Sum( VOICE_DURATION_BUCKET + VOICE_DURATION_NO_BUCKET + VOICE_DURATION_INCOMING)) / 60 AS voice_dur_min        
		,Sum(MESSAGE_COUNT_BUCKET + MESSAGE_COUNT_NO_BUCKET) AS all_cnt
FROM PRD2_DDS_V.NE_SUBS_REVENUE_DATE
WHERE 1=1
	AND (REPORT_DATE BETWEEN DATE'2022-04-01' AND DATE '2022-09-30')
	AND NE_REGION_ID IN (32, 82)
	AND SUBS_REGION_ID NOT IN (32, 82)
GROUP BY REPORT_DATE
		,REPORT_MONTH
		,SUBS_ID
)		
WITH NO DATA
PRIMARY INDEX (SUBS_ID)

'''

In [9]:
sql.run(raw)

        CodeStyle Warning in create_table_warn(): Использование CREATE TABLE AS SELECT … WITH NO DATA в финальной версии скрипта не допускается.
        (SQL Style Guide. Общие конструкции. Ссылка: https://wiki.tele2.ru/pages/viewpage.action?pageId=139127857&preview=/139127857/139128786/SQL%20StyleGuide.pdf)


        CodeStyle Warning in column_name_rule_warn(): Если в запросе участвуют несколько таблиц, то при указании наименования столбца необходимо явно указывать
        какой таблице принадлежит столбец. Проверьте строки ['SELECT report_date,', 'report_month,', 'subs_id,', 'SUM(data_volume_bucket + data_volume_no_bucket) / (1024**3) AS total_vol_gb,', '(SUM(voice_duration_bucket + voice_duration_no_bucket + voice_duration_incoming)) / 60 AS voice_dur_min,', 'SUM(message_count_bucket + message_count_no_bucket) AS all_cnt', "AND (report_date BETWEEN DATE'2022-04-01' AND DATE '2022-09-30')"]. (SQL Style Guide. Подзапросы. Ссылка: https://wiki.tele2.ru/pages/viewpage.action?pageId=139127857&preview=/139127857/139128786/SQL%20StyleGuide.pdf)


        CodeStyle Warning in row_max_symbols_warn(): Максимальное количество символов в строке – не более 80. (SQL Style Guide. Общие конструкции.
        Ссылка: https://wiki.tele2.ru/pages/viewpage.action?pageId=139127857&preview=/139127857/139128786/SQL%20StyleGuide.pdf).
        Перечень строк с ошибками сохранен в объекте row_max_symbols_df_global.


        CodeStyle Warning in create_table_warn(): Использование CREATE TABLE AS SELECT … WITH NO DATA в финальной версии скрипта не допускается.
        (SQL Style Guide. Общие конструкции. Ссылка: https://wiki.tele2.ru/pages/viewpage.action?pageId=139127857&preview=/139127857/139128786/SQL%20StyleGuide.pdf)


        CodeStyle Warning in column_name_rule_warn(): Если в запросе участвуют несколько таблиц, то при указании наименования столбца необходимо явно указывать
        какой таблице принадлежит столбец. Проверьте строки ['SELECT report_date,', 'report_month,', 'subs_id,', 'SUM(data_volume_bucket + data_volume_no_bucket) / (1024**3) AS total_vol_gb,', '(SUM(voice_duration_bucket + voice_duration_no_bucket + voice_duration_incoming)) / 60 AS voice_dur_min,', 'SUM(message_count_bucket + message_count_no_bucket) AS all_cnt', "AND (report_date BETWEEN DATE'2022-04-01' AND DATE '2022-09-30')"]. (SQL Style Guide. Подзапросы. Ссылка: https://wiki.tele2.ru/pages/viewpage.action?pageId=139127857&preview=/139127857/139128786/SQL%20StyleGuide.pdf)


        CodeStyle Warning in row_max_symbols_warn(): Максимальное количество символов в строке – не более 80. (SQL Style Guide. Общие конструкции.
        Ссылка: https://wiki.tele2.ru/pages/viewpage.action?pageId=139127857&preview=/139127857/139128786/SQL%20StyleGuide.pdf).
        Перечень строк с ошибками сохранен в объекте row_max_symbols_df_global.

SELECT report_date,
       report_month,
       subs_id,
       SUM(data_volume_bucket + data_volume_no_bucket) / (1024**3) AS total_vol_gb,
       (SUM(voice_duration_bucket + voice_duration_no_bucket + voice_duration_incoming)) / 60 AS voice_dur_min,
       SUM(message_count_bucket + message_count_no_bucket) AS all_cnt
FROM prd2_dds_v.ne_subs_revenue_date
WHERE 1 = 1
    AND (report_date BETWEEN DATE'2022-04-01' AND DATE '2022-09-30')
    AND ne_region_id IN (32,
                         82)
    AND subs_region_id NOT IN (32,
                               82)
GROUP BY report_date,
         report_month,
         subs_id WITH NO DATA PRIMARY INDEX (subs_id