In [15]:
%load_ext autoreload
%autoreload 2

from SQLParser import *
import SQLFunctions as funcs
from SQLParserError import SQLParserError
import warnings

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
raw1 = '''
WITH ALL_USERS_MC AS (
	SELECT
		t.subs_id
		, t.msisdn
		, t.transaction_id
		, t.transaction_dttm
		, t.amount_rub
		, t.revenue_rub
		, t.update_ts
		, serv.valid_from_date
		, serv.valid_to_date
	FROM prd2_dds_v2.mobile_commerce AS t
	JOIN prd2_dds_v2.service_instance AS serv ON t.subs_id = serv.subs_id
		AND serv.service_id = 30709
	WHERE t.transaction_dttm > '2022-09-30 00:00:00' and t.dt > 1 
),

ORDERED_MOVINGS AS (
	SELECT
		t.subs_id
		, t.start_dttm
		, t.start_date
		, t.end_dttm
		, t.a_number
		, t.b_number
	FROM PRD2_DDS_V.USAGE AS t
	WHERE t.start_date BETWEEN DATE'2022-10-01' AND DATE'2022-10-31'
		AND t.traffic_type_id = 2
		AND (t.b_number = '7757' OR t.b_numbe = 11)
		AND (t.a_number IN ('312', '7757') OR Length(t.a_number) = 11))
,

tempo as (
select t.subs_id, t.a_number, t.foo, t.buzz
from buka as t
where t.foo is not null
),

acdc as (
select t.foo1, t.buzz1
from tempo as t

)
select * from ORDERED_MOVINGS
'''
sql = HandlerSQL()
sql.run(raw1)

        CodeStyle Warning in or_in_a_row_warn(): Найдено 1 подряд идущих условий OR. Рекомендуется замена условий на выражение IN (x, y, z).
        (SQL Style Guide. WHERE/ON. Ссылка: https://wiki.tele2.ru/pages/viewpage.action?pageId=139127857&preview=/139127857/139128786/SQL%20StyleGuide.pdf)

WITH all_users_mc AS (
    SELECT t.subs_id,
           t.msisdn,
           t.transaction_id,
           t.transaction_dttm,
           t.amount_rub,
           t.revenue_rub,
           t.update_ts,
           serv.valid_from_date,
           serv.valid_to_date
    FROM prd2_dds_v2.mobile_commerce AS t
    JOIN prd2_dds_v2.service_instance AS serv
        ON (
        t.subs_id = serv.subs_id
        AND serv.service_id = 30709
        )
    WHERE 1 = 1
        AND t.transaction_dttm > '2022-09-30 00:00:00'
        AND t.dt > 1
),

ordered_movings AS (
    SELECT t.subs_id,
           t.start_dttm,
           t.start_date,
           t.end_dttm,
           t.a_number,
           t.b_number
    FROM prd2_dds_v.usage AS t
    WHERE 1 = 1
        AND t.start_date BETWEEN DATE'2022-10-01' AND DATE'2022-10-31'
        AND t.traffic_type_id = 2
            AND (
    t.b_number = '7757'
    OR t.b_numbe = 11
        )
    AND (
    t.a_number IN (
    '312',
    '7757')
    OR LENGTH(t.a_number) = 11
)
),

tempo AS (
    SELECT t.subs_id,
           t.a_number,
           t.foo,
           t.buzz
    FROM buka AS t
    WHERE 1 = 1
        AND t.foo IS NOT NULL
),

acdc AS (
    SELECT t.foo1,
           t.buzz1
    FROM tempo AS t
)


SELECT *
FROM ordered_movings

In [3]:
#sql = Handler()
raw = '''
WITH ALL_USERS_MC AS (
	SELECT
		t.subs_id
		, t.start_dttm
		, t.start_date
		, t.end_dttm
		, t.a_number
		, t.b_number
	FROM PRD2_DDS_V.USAGE AS t
	WHERE t.start_date BETWEEN DATE'2022-10-01' AND DATE'2022-10-31'
		AND t.traffic_type_id = 2
		AND (t.b_number = '7757' OR t.b_numbe = 11)
		AND (t.a_number IN ('312', '7757') OR Length(t.a_number) = 11)) 
select * from ALL_USERS_MC
'''
sql = HandlerSQL()
sql.run(raw)

WITH all_users_mc AS (
    SELECT t.subs_id,
           t.start_dttm,
           t.start_date,
           t.end_dttm,
           t.a_number,
           t.b_number
    FROM prd2_dds_v.usage AS t
    WHERE 1 = 1
        AND t.start_date BETWEEN DATE'2022-10-01' AND DATE'2022-10-31'
        AND t.traffic_type_id = 2
            AND (
            t.b_number = '7757'
            OR t.b_numbe = 11
            )
    AND (
            t.a_number IN (
            '312',
            '7757')
            OR LENGTH(t.a_number = 1
    )
)


SELECT *
FROM all_users_mc

In [4]:
raw = '''
WITH ALL_USERS_MC AS (
	SELECT
		t.subs_id
		, t.msisdn
		, t.transaction_id
		, t.transaction_dttm
		, t.amount_rub
		, t.revenue_rub
		, t.update_ts
		, serv.valid_from_date
		, serv.valid_to_date
	FROM prd2_dds_v2.mobile_commerce AS t
	JOIN prd2_dds_v2.service_instance AS serv ON t.subs_id = serv.subs_id
		AND serv.service_id = 30709
	WHERE t.transaction_dttm > '2022-09-30 00:00:00' and t.dt > 1
) 
select * from ALL_USERS_MC
'''
sql = HandlerSQL()
sql.run(raw)

WITH all_users_mc AS (
    SELECT t.subs_id,
           t.msisdn,
           t.transaction_id,
           t.transaction_dttm,
           t.amount_rub,
           t.revenue_rub,
           t.update_ts,
           serv.valid_from_date,
           serv.valid_to_date
    FROM prd2_dds_v2.mobile_commerce AS t
    JOIN prd2_dds_v2.service_instance AS serv
        ON (
        t.subs_id = serv.subs_id
        AND serv.service_id = 30709
        )
    WHERE 1 = 1
        AND t.transaction_dttm > '2022-09-30 00:00:00'
        AND t.dt > 1
)


SELECT *
FROM all_users_mc

Условия для with:
- если строка начинается с with -> начало выражения
- если в строке есть "),"       -> первый with заканчивается, нужно сделать отступ \n и в следующей строчке, где должен быть AS, сделать отступ после открывающейся скобки \n
- если в строке нет ")," и через строчку идет SELECT, то with закончился

In [5]:
print(sql.default_string(raw1))

WITH all_users_mc AS
    (SELECT t.subs_id ,
            t.msisdn ,
            t.transaction_id ,
            t.transaction_dttm ,
            t.amount_rub ,
            t.revenue_rub ,
            t.update_ts ,
            serv.valid_from_date ,
            serv.valid_to_date
     FROM prd2_dds_v2.mobile_commerce AS t
     JOIN prd2_dds_v2.service_instance AS serv ON t.subs_id = serv.subs_id
     AND serv.service_id = 30709
     WHERE t.transaction_dttm > '2022-09-30 00:00:00'
         AND t.dt > 1 ),
     ordered_movings AS
    (SELECT t.subs_id ,
            t.start_dttm ,
            t.start_date ,
            t.end_dttm ,
            t.a_number ,
            t.b_number
     FROM prd2_dds_v.usage AS t
     WHERE t.start_date BETWEEN DATE'2022-10-01' AND DATE'2022-10-31'
         AND t.traffic_type_id = 2
         AND (t.b_number = '7757'
              OR t.b_numbe = 11)
         AND (t.a_number IN ('312',
                             '7757')
              OR length(t.a_number) = 11)),
     tempo AS
    (SELECT t.subs_id,
            t.a_number,
            t.foo,
            t.buzz
     FROM buka AS t
     WHERE t.foo IS NOT NULL ),
     acdc AS
    (SELECT t.foo1,
            t.buzz1
     FROM tempo AS t)
SELECT *
FROM ordered_movings

In [17]:
d = sql.default_string(raw1)

In [18]:
def split_with_statement(raw):
    with_split_blocks = [i for i in raw.split('),')]
    inside_with = []
    name_of_with_block = []
    for block in with_split_blocks:
        block_by_row = [i for i in block.split('\n') if len(i) > 0]
        name_of_with_block.append(block_by_row[0])
        
        select_block = []
        for sel in block_by_row[1:]:            
            if '(SELECT' in sel:
                replace_sel = sel.replace('(', '')
                select_block.append(replace_sel)
            else:
                select_block.append(sel)
        inside_with.append(select_block)
    
    correct_last_block = []
    last_block = inside_with[-1]
    counter = 0
    for ind in range(0, len(last_block)-1):
        if 'SELECT' in last_block[ind] and counter == 0:
            counter = ind
            flg = 1
                
        if 'SELECT' in last_block[ind+1] and flg == 1:
            correct_last_block.append(last_block[counter:ind+1])
            counter = 0
            flg = 0
        
        if ind == len(last_block)-2:
            correct_last_block.append(last_block[counter:ind+2])
    
    correct_last_block[0][-1] = correct_last_block[0][-1].replace(')', '')
    full_code = ['\n'.join(i) for i in inside_with[:-1] + correct_last_block]
    return name_of_with_block, full_code

In [22]:
sql.split_with_statement(d)[1][1]

"    SELECT t.subs_id ,\n            t.start_dttm ,\n            t.start_date ,\n            t.end_dttm ,\n            t.a_number ,\n            t.b_number\n     FROM prd2_dds_v.usage AS t\n     WHERE t.start_date BETWEEN DATE'2022-10-01' AND DATE'2022-10-31'\n         AND t.traffic_type_id = 2\n         AND (t.b_number = '7757'\n              OR t.b_numbe = 11)\n         AND (t.a_number IN ('312',\n                             '7757')\n              OR length(t.a_number) = 11)"

In [23]:
print(split_with_statement(d)[1][1])

    SELECT t.subs_id ,
            t.start_dttm ,
            t.start_date ,
            t.end_dttm ,
            t.a_number ,
            t.b_number
     FROM prd2_dds_v.usage AS t
     WHERE t.start_date BETWEEN DATE'2022-10-01' AND DATE'2022-10-31'
         AND t.traffic_type_id = 2
         AND (t.b_number = '7757'
              OR t.b_numbe = 11)
         AND (t.a_number IN ('312',
                             '7757')
              OR length(t.a_number) = 11)

In [9]:
print([i for i in split_with_statement(d)][1][1])

    SELECT t.subs_id ,
            t.start_dttm ,
            t.start_date ,
            t.end_dttm ,
            t.a_number ,
            t.b_number
     FROM prd2_dds_v.usage AS t
     WHERE t.start_date BETWEEN DATE'2022-10-01' AND DATE'2022-10-31'
         AND t.traffic_type_id = 2
         AND (t.b_number = '7757'
              OR t.b_numbe = 11)
         AND (t.a_number IN ('312',
                             '7757')
              OR length(t.a_number) = 11)

In [10]:
def indent_for_with_stmnt_sub(raw):
    assert isinstance(raw, str), 'Аргумент raw должен быть типа string'
    script_by_rows = [tup for tup in raw.split('\n') if len(tup) > 0]
    spaces = 4 * ' '
    for row in script_by_rows:
        re_val = row.replace(')', '\)').replace('(', '\(').replace('*', '\*')
        pattern = re.compile(f'{re_val}')
        right_val = spaces + row
        raw = pattern.sub(right_val, raw, 1)
    return script_by_rows

In [13]:
head = split_with_statement(d)[0]
raw_bodies = split_with_statement(d)[1]
body = []
for i in raw_bodies:
    #sql = SQLParser()
    body.append(sql.run_code_style(i, return_pretty_view=False))
with_block = ''.join(
    [
        a.strip() + ' (' + b + '\n),' + 2*'\n'
        for a, b in zip(head, body[:-1])
    ]
)[0:-3] + 2*'\n'
last_select = sql.run_code_style(body[-1], return_pretty_view=False)
full = with_block + last_select

        CodeStyle Warning in or_in_a_row_warn(): Найдено 1 подряд идущих условий OR. Рекомендуется замена условий на выражение IN (x, y, z).
        (SQL Style Guide. WHERE/ON. Ссылка: https://wiki.tele2.ru/pages/viewpage.action?pageId=139127857&preview=/139127857/139128786/SQL%20StyleGuide.pdf)

In [14]:
print(full)

WITH all_users_mc AS (
SELECT t.subs_id,
       t.msisdn,
       t.transaction_id,
       t.transaction_dttm,
       t.amount_rub,
       t.revenue_rub,
       t.update_ts,
       serv.valid_from_date,
       serv.valid_to_date
FROM prd2_dds_v2.mobile_commerce AS t
JOIN prd2_dds_v2.service_instance AS serv
    ON (
    t.subs_id = serv.subs_id
    AND serv.service_id = 30709
    )
WHERE 1 = 1
    AND t.transaction_dttm > '2022-09-30 00:00:00'
    AND t.dt > 1
),

ordered_movings AS (
SELECT t.subs_id,
       t.start_dttm,
       t.start_date,
       t.end_dttm,
       t.a_number,
       t.b_number
FROM prd2_dds_v.usage AS t
WHERE 1 = 1
    AND t.start_date BETWEEN DATE'2022-10-01' AND DATE'2022-10-31'
    AND t.traffic_type_id = 2
    AND (
        t.b_number = '7757'
        OR t.b_numbe = 11
    )
    AND (
        t.a_number IN (
        '312',
        '7757')
        OR LENGTH(t.a_number) = 11
    )
),

tempo AS (
SELECT t.subs_id,
       t.a_number,
       t.foo,
       t.buzz
FROM buka AS t
WHERE 1 = 1
    AND t.foo IS NOT NULL
),

acdc AS (
SELECT t.foo1,
       t.buzz1
FROM tempo AS t
)

SELECT *
FROM ordered_movings

In [10]:
head

['WITH all_users_mc AS',
 '     ordered_movings AS',
 '     tempo AS',
 '     acdc AS']

In [11]:
raw_bodies

["    SELECT t.subs_id ,\n            t.msisdn ,\n            t.transaction_id ,\n            t.transaction_dttm ,\n            t.amount_rub ,\n            t.revenue_rub ,\n            t.update_ts ,\n            serv.valid_from_date ,\n            serv.valid_to_date\n     FROM prd2_dds_v2.mobile_commerce AS t\n     JOIN prd2_dds_v2.service_instance AS serv ON t.subs_id = serv.subs_id\n     AND serv.service_id = 30709\n     WHERE t.transaction_dttm > '2022-09-30 00:00:00' ",
 "    SELECT t.subs_id ,\n            t.start_dttm ,\n            t.start_date ,\n            t.end_dttm ,\n            t.a_number ,\n            t.b_number\n     FROM prd2_dds_v.usage AS t\n     WHERE t.start_date BETWEEN DATE'2022-10-01' AND DATE'2022-10-31'\n         AND t.traffic_type_id = 2\n         AND (t.b_number = '7757'\n              OR length(t.b_number) = 11)\n         AND (t.a_number IN ('312',\n                             '7757')\n              OR length(t.a_number) = 11)",
 '    SELECT t.subs_id,\n            t.a_number,\n            t.foo,\n            t.buzz\n     FROM buka AS t\n     WHERE t.foo IS NOT NULL ',
 '    SELECT t.foo1,\n            t.buzz1\n     FROM tempo AS t',
 'SELECT *\nFROM ordered_movings']

In [9]:
print(full)

WITH all_users_mc AS (
    SELECT t.subs_id,
           t.msisdn,
           t.transaction_id,
           t.transaction_dttm,
           t.amount_rub,
           t.revenue_rub,
           t.update_ts,
           serv.valid_from_date,
           serv.valid_to_date
    FROM prd2_dds_v2.mobile_commerce AS t
    JOIN prd2_dds_v2.service_instance AS serv
        ON (
        t.subs_id = serv.subs_id
        AND serv.service_id = 30709
        )
    WHERE 1 = 1
        AND t.transaction_dttm > '2022-09-30 00:00:00'
),

ordered_movings AS (
    SELECT t.subs_id,
           t.start_dttm,
           t.start_date,
           t.end_dttm,
           t.a_number,
           t.b_number
    FROM prd2_dds_v.usage AS t
    WHERE 1 = 1
        AND t.start_date BETWEEN DATE'2022-10-01' AND DATE'2022-10-31'
        AND t.traffic_type_id = 2
        AND (t.b_number = '7757'
             OR LENGTH(t.b_number) = 11)
        AND (t.a_number IN ('312',
                            '7757')
             OR LENGTH(t.a_number) = 11)
),

tempo AS (
    SELECT t.subs_id,
           t.a_number,
           t.foo,
           t.buzz
    FROM buka AS t
    WHERE 1 = 1
        AND t.foo IS NOT NULL
),

acdc AS (
    SELECT t.foo1,
           t.buzz1
    FROM tempo AS t
)


SELECT *
FROM ordered_movings

In [ ]:
last_select

In [ ]:
r = ''.join([a.strip() + ' (' + '\n' + b + '\n),' + 2*'\n' for a, b in zip(head, body[:-1])])[0:-3]

In [ ]:
print(r + 2*'\n' + body[-1])

In [66]:
class A:
    def __init__(self):
        self.object = 1
        self.a = []
    
    def get_a(self):
        self.a = [1,2,3]
        return self.a
    
    def test_(self):
        return 0

class B(A):
    def __init__(self):
        super().__init__()
        self.a = self.get_a()
    #def get(self):
    #    self.a = self.get_a()
    #    return 1+1

class MAIN(B):
    def __init__(self):
        super().__init__()

In [67]:
exA = A()
exA.a

[]

In [68]:
exB = B()
exB.a

[1, 2, 3]

In [61]:
dir(exB)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'a',
 'get',
 'get_a',
 'object',
 'test_']

In [69]:
exMAIN = MAIN()

In [70]:
exMAIN.a

[1, 2, 3]

In [59]:
exB = B()
exB.object

0

In [6]:
dir(exMAIN)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'a',
 'object',
 'test',
 'test_']

In [35]:
raw = 'abc'

In [36]:
h = MAIN(arguments.inst1, arguments.inst2, raw)

In [37]:
h.temp.object

1

In [6]:
import sys
print("User Current Version:-", sys.version)

User Current Version:- 3.9.15 | packaged by conda-forge | (main, Nov 22 2022, 15:55:03)
[GCC 10.4.0]

In [ ]:
    
    
    def string_for_with(self, raw: str) -> str:
        '''
        
        '''
         
        '''
        Substitutions
        '''
        
        temp = self.default_string(raw)
        
        self.upper_case = self.functions_upper_case_sub(temp)
        self.where_clause = self.where_clause_sub(self.upper_case)
        self.where_and_or_rule = self.where_and_or_rule_sub(self.where_clause)
        self.window_functions = self.window_functions_sub(self.where_and_or_rule)
        self.create_table = self.create_table_sub(self.window_functions)
        self.join_rule = self.join_rule_sub(self.create_table)
        self.join_and_or_rule = self.join_and_or_rule_sub(self.join_rule)
        self.indent_for_with_stmnt = self.indent_for_with_stmnt_sub(self.join_and_or_rule)
        
        self.count_functions = 0
        self.window_funcs_not_found = 0
        self.create_table_not_found = 0
        
        '''
        Warnings
        '''
        self.as_rule_warn(self.join_and_or_rule)
        self.create_table_warn(self.join_and_or_rule)
        self.column_name_rule_warn(self.join_and_or_rule)
        self.group_rules_warn(self.join_and_or_rule)
        self.or_in_a_row_warn(self.join_and_or_rule)
        self.row_max_symbols_warn(self.join_and_or_rule)
        self.warning_wrong_words_warn(self.join_and_or_rule)
        
        return self.indent_for_with_stmnt